<!doctype html>
<html lang="ja">
	<head>
		<title>富永日記帳</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="stylesheet" href="/style/error.css" />
	</head>
	<body>
		<div class="l-page">
			<header id="header" class="l-header">
				<hgroup class="p-err-title">
					<h1>クライアントエラー</h1>
				</hgroup>
			</header>
			<main id="content" class="l-content">
				<div class="p-err-text">
					<p>他の記事をお探しの場合は<a href="/">トップページ</a>からリンクを辿るか、下記のサイト内検索をご利用ください。</p>
				</div>

				<search role="search">
					<form action="/search" class="p-err-search">
						<fieldset>
							<legend class="p-err-search__legend">サイト内検索</legend>
							<div class="p-err-search__ctrl">
								<p class="c-search">
									<select name="engine" class="c-search__select" title="検索エンジン">
										<button>
											<selectedcontent></selectedcontent>
										</button>
										<option value="google">
											<span class="c-search__content"><img src="/image/icon/google.png" alt="" width="16" height="16" /><span class="c-search__content-text">Google</span></span>
										</option>
										<option value="bing">
											<span class="c-search__content"><img src="/image/icon/bing.png" alt="" width="16" height="16" /><span class="c-search__content-text">Bing</span></span>
										</option>
										<option value="yahoo">
											<span class="c-search__content"><img src="/image/icon/yahoo.png" alt="" width="16" height="16" /><span class="c-search__content-text">Yahoo! JAPAN</span></span>
										</option>
										<option value="ddg">
											<span class="c-search__content"><img src="/image/icon/duckduckgo.svg" alt="" width="16" height="16" /><span class="c-search__content-text">DuckDuckGo</span></span>
										</option>
									</select>
									<input type="search" name="q" required="" title="キーワード" class="c-search__query" />
									<button class="c-search__submit">
										<svg role="img" aria-labelledby="search-button">
											<title id="search-button">検索</title>
											<use href="/image/icon/search.svg#icon"></use>
										</svg>
									</button>
								</p>
							</div>
						</fieldset>
					</form>
				</search>
			</main>
		</div>
	</body>
</html>
