<!doctype html>
<html lang="ja">
	<head>
		<title>富永日記帳</title>

		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="stylesheet" href="/style/error.css" />
	</head>
	<body>
		<div class="l-page">
			<header id="header" class="l-header">
				<hgroup class="p-err-title">
					<h1>サーバーエラー</h1>
				</hgroup>
			</header>
			<main id="content" class="l-content">
				<div class="p-err-text">
					<p>サーバー側で何らかのエラーが起こったため、コンテンツを閲覧することができません。</p>
					<p>管理者への連絡は <a href="https://github.com/SaekiTominaga" rel="external">GitHub</a>、<a href="https://fedibird.com/@SaekiTominaga" rel="external">Mastodon</a>、<a href="https://bsky.app/profile/w0s.jp" rel="external">Bluesky</a> のいずれかをご利用ください。</p>
				</div>
			</main>
		</div>
	</body>
</html>
