/* ==============================
 *   ページレイアウト共通
 * ============================== */
.l-page {
	display: block grid;
}

/* ===== ページヘッダー ===== */
.l-header {
	display: block grid;
	grid-template-columns: [full-start] var(--page-margin-inline) var(--page-padding-inline) [content-start] 1fr [content-end] var(--page-padding-inline) var(--page-margin-inline) [full-end];
	grid-column: header;
	container: header / inline-size;
	padding: 10px 0 40px;
	line-height: var(--line-height-narrow);
}

/* ヘッダーメイン */
.l-header__main {
	display: block grid;
	grid-template-columns: 50% 1fr;
	grid-template-areas: "site nav";
	grid-column: content;
	gap: 20px;
	container: header-main / inline-size;

	@container header (inline-size <= 60em) {
		grid-template-columns: auto;
		grid-template-areas:
			"site"
			"nav";
	}
}

/* サイトロゴ */
.l-header__site {
	grid-column: site;
	margin-block-start: 10px;
}

/* ナビゲーション */
.l-header__nav {
	--_justify-content: flex-end;

	display: block flex;
	grid-column: nav;
	flex-wrap: wrap;
	place-content: flex-start var(--_justify-content);
	align-items: flex-end;
	gap: 10px 20px;

	@container header-main (inline-size <= 32em) {
		--_justify-content: flex-start;
	}
}

/* ===== コンテンツエリア ===== */
.l-content {
	grid-column: content;
	container: content / inline-size;

	/* サイドバーがない場合は全幅で表示 */
	&.-nosidebar {
		grid-column: content / sidebar;
	}
}

.l-content__header {
}

.l-content__main {
	.l-content__header + & {
		margin-block-start: 80px;
	}
}

.l-content__footer {
	margin-block-start: 120px;
}

@media (--breakpoint) {
	.l-content {
		grid-column: content-padding-left / content-padding-right;
	}

	.l-content__header,
	.l-content__footer {
		grid-column: content;
	}

	.l-content__main {
		grid-column: inherit;
	}
}

/* ===== サイドバー ===== */
.l-sidebar {
	grid-column: sidebar;
	container: sidebar / inline-size;
	line-height: var(--line-height-narrow);

	& > [class^="p-sidebar-"]:not([hidden]) {
		& + [class^="p-sidebar-"] {
			margin-block-start: 3em;
		}
	}
}

/* ===== ページフッター ===== */
.l-footer {
	display: block grid;
	grid-template-columns: [full-start] var(--page-margin-inline) var(--page-padding-inline) [content-start] 1fr [content-end] var(--page-padding-inline) var(--page-margin-inline) [full-end];
	grid-column: footer;
	container: footer / inline-size;
	margin-block-start: 80px;
	border: solid var(--color-border-light);
	border-width: 1px 0;
	background: var(--color-bg-superlight);
	padding: 50px 0;
	line-height: var(--line-height-narrow);
}

/* サイト横断ナビゲーション */
.l-footer__nav {
	grid-column: content;
	container: footer-nav / inline-size;
}

/* アドセンス */
.l-footer__ads {
	grid-column: content;
	container: footer-ads / inline-size;
	margin-block-start: 100px;
}
