/* ==============================
 *   リーダー表示
 * ============================== */
.l-page {
	grid-template-areas: "content";
	grid-template-columns: 1fr;
}

.l-header,
.l-sidebar,
.l-footer {
	display: none;
}
