/* ==============================
 *   ボタン
 * ============================== */

/* ===== ボタン ===== */
.c-button {
	--_padding-row: 0.5em;
	--_padding-col: 0.75em;
	--_border-color: var(--color-gray);
	--_width: auto;
	--_color: var(--color-black);
	--_background: var(--color-white);
	--_icon-size: 1.25em;

	padding: var(--_padding-row) var(--_padding-col);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: var(--_width);
	color: var(--_color);
	background: var(--_background);
	font-weight: bold;
	line-height: var(--line-height-narrow);
	text-decoration: none;
	outline-offset: 0.125em;

	&:disabled {
		display: none;
	}

	&:hover {
		color: var(--_color);
		box-shadow: 0 0 2px var(--_border-color);
	}

	&.-nowrap {
		white-space: nowrap;
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41 100% 53%);
		--_color: #454545;
		--_background: hsl(41 100% 93%);
	}

	/* Twitter */
	&.-twitter {
		--_border-color: #2293dd;
		--_color: var(--color-white);
		--_background: #1da1f2;
	}

	/* GitHub */
	&.-github {
	}

	/* Amazon */
	&.-amazon {
		--_border-color: #c2a24e;
		--_background: linear-gradient(#ffe8ab, #f5c747);
	}

	/* YouTube */
	&.-youtube {
		--_border-color: #f33;
		--_color: #c22;
		--_background: linear-gradient(var(--color-white), #fee);
	}

	@nest .p-sidebar-profile__banners & {
		--_padding-col: 1px;
		--_width: 100%;
	}
}

.c-button__icon {
	aspect-ratio: 1/1;
	height: var(--_icon-size);
}

.c-button__text {
}

/* ===== クリップボードボタン ===== */
.c-clipboard-button {
	--_border-width: 1px;
	--_border-color: var(--color-border-light);
	--_color: var(--color-black);
	--_bg-color: var(--color-bg-superlight);
	--_ripple-effect-color: var(--color-black);
	--_ripple-effect-opacity: 0.25;
	--_ripple-effect-transition-duration: 0.5s;

	padding: 8px;
	border: var(--_border-width) solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	color: var(--_color);
	background-color: var(--_bg-color);
	outline-offset: 0;

	&:focus {
		--_border-color: var(--outline-color);
	}

	&:hover {
		--_bg-color: var(--color-bg-verylight);
	}

	& > img {
		display: block;
		width: 1.5em;
		height: auto;
	}

	/* ripple effect */
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: radial-gradient(circle, var(--_ripple-effect-color) 25%, transparent 0);
		opacity: 0;
		transform: scale(4);
		transition: var(--_ripple-effect-transition-duration);
	}

	&:active::before {
		opacity: var(--_ripple-effect-opacity);
		transform: scale(0);
		transition: initial;
	}
}
