/* ==============================
 *   ボタン
 * ============================== */

/* ===== ボタン ===== */
.c-button {
	--_padding-row: 0.5em;
	--_padding-col: 0.5em;
	--_border-color: var(--color-gray);
	--_width: auto;
	--_color: var(--color-black);
	--_background: var(--color-white);
	--_font-size: 1rem;
	--_text-shadow-color: var(--color-white);
	--_icon-size: 1.25em;

	padding: var(--_padding-row) var(--_padding-col);
	border: 1px solid var(--_border-color);
	border-radius: 0.25em;
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: var(--_width);
	color: var(--_color);
	background: var(--_background);
	font-size: var(--_font-size);
	font-weight: bold;
	line-height: var(--line-height-narrow);
	text-decoration: none;
	text-shadow: 1px 1px var(--_text-shadow-color);
	outline-offset: 0.125em;

	&:disabled {
		display: none;
	}

	&:hover {
		box-shadow: 0 0 2px var(--_border-color);
	}

	&.-nowrap {
		white-space: nowrap;
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41 100% 53%);
		--_color: #454545;
		--_background: hsl(41 100% 93%);
	}

	/* Twitter */
	&.-twitter {
		--_border-color: #2293dd;
		--_color: #fff;
		--_background: #1da1f2;
	}

	/* GitHub */
	&.-github {
	}

	/* Amazon */
	&.-amazon {
		--_border-color: #c2a24e;
		--_background: linear-gradient(#ffe8ab, #f5c747);
	}

	/* YouTube */
	&.-youtube {
		--_border-color: #f33;
		--_color: #c22;
		--_background: linear-gradient(#fff, #fee);
	}

	@nest .p-entry-footer-social & {
		--_padding-col: 0.75em;
		--_font-size: calc(1rem * var(--font-ratio-2));
	}

	@nest .p-sidebar-profile__banners & {
		--_padding-col: 1px;
		--_width: 100%;
		--_font-size: calc(1rem / var(--font-ratio-2));
		--_text-shadow-color: transparent;
	}
}

.c-button__icon {
	aspect-ratio: 1/1;
	height: var(--_icon-size);
}

.c-button__text {
}
