/* 埋め込みコンテンツ */

/* キャプション */
.c-embedded-caption {
	display: flex;
	gap: 0 0.4em;
	color: #666;
	font-size: calc(1rem / var(--font-ratio-2));
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

/* 図表番号（"写真1"、"図2" など） */
.c-embedded-caption__num {
	white-space: nowrap;
}

/* タイトル */
.c-embedded-caption__title {
}
