/*
レイアウト

Styleguide 1.5.
*/

/* ===== Stack ===== */
:is(.l-content__header, .l-content__main, .l-content__footer, .p-quote, .p-box, .p-entry__footer) {
	& > *:not(:first-child) {
		margin-block-start: var(--stack-margin-base);
	}

	& > *:not(:last-child) {
		margin-block-end: var(--stack-margin-base);
	}
}

.p-entry__header {
	& > *:not(:first-child) {
		margin-block-start: calc(var(--stack-margin-base) / 2);
	}

	& > *:not(:last-child) {
		margin-block-end: calc(var(--stack-margin-base) / 2);
	}
}

:is(.p-entry__body, .p-entry__body .p-section1, .p-entry__body .p-section2) {
	& > *:not(:first-child) {
		margin-block-start: calc(var(--stack-margin-base) * 1.5);
	}

	& > *:not(:last-child) {
		margin-block-end: calc(var(--stack-margin-base) * 1.5);
	}
}

/* ===== グリッド ===== */
.c-grid {
	--_gap-row: 1em;
	--_gap-col: 50px;
	--_max-width: auto;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(var(--_max-width), 100%), 1fr));
	gap: var(--_gap-row) var(--_gap-col);

	/* 2カラム */
	&.-wide {
		--_max-width: 330px;
	}

	/* 3カラム */
	&.-medium {
		--_max-width: 240px;
	}

	/* 4カラム */
	&.-narrow {
		--_max-width: 180px;
	}
}

.c-grid__item {
}

/* ===== フレックスボックス ===== */
.c-flex {
	--_gap-row: 1em;
	--_gap-col: 50px;

	display: flex;
	flex-wrap: wrap;
	gap: var(--_gap-row) var(--_gap-col);

	&.-buttons {
		--_gap-row: 25px;
		--_gap-col: 25px;
	}
}

.c-flex__item {
	@nest .p-entry & {
		max-width: calc((100% - var(--_gap-col)) / 2);
	}
}
