/* ==============================
 *   リンク
 * ============================== */

/* ===== リンク ===== */
.c-link {
	--_bullet-height: 0.75em;
	--_bullet-width: calc(var(--_bullet-height) * 0.6);
	--_bullet-color: var(--color-gray);
	--_bullet-gap: 0.5em;

	margin-left: calc(var(--_bullet-width) + var(--_bullet-gap));

	& > a {
		margin-left: calc(0px - var(--_bullet-width) - var(--_bullet-gap));
		outline-offset: 0.125em;

		&::before {
			margin-right: var(--_bullet-gap);
			content: "";
			display: inline-block;
			clip-path: var(--shape-link-triangle);
			width: var(--_bullet-width);
			height: var(--_bullet-height);
			background: var(--_bullet-color);
		}

		&:any-link {
			--_bullet-color: var(--link-color-bullet);

			&:hover {
				--_bullet-color: var(--link-color-hover);
			}
		}
	}
}

/* リンクアイコン */
.c-link-icon {
	margin: 0 0.25em;
	box-sizing: border-box;
	height: 1.15em;
	width: auto;
	vertical-align: -0.2em;
}

/* ===== 記事リンク ===== */
.c-entry-link {
	--_gap: 15px;
	--_bullet-height: 0.75em;
	--_bullet-width: calc(var(--_bullet-height) * 0.6);
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	contain: content;
	display: flow-root; /* for Safari */
	line-height: var(--line-height-narrow);

	@media (--breakpoint-entry-link) {
		margin-left: calc(var(--_bullet-width) + var(--_bullet-gap));
	}

	@nest .p-title-list & {
		--_gap: 30px;
	}

	& a {
		outline-offset: 0.125em;
	}
}

.c-entry-link__thumb {
	--_margin-right: calc(var(--_gap) + var(--_bullet-width) + var(--_bullet-gap));
	--_margin-left: 0px;
	--_margin-bottom: 0px;
	--_float: left;
	--_image-border-width: 1px;
	--_image-aspect-ratio: 1.5;
	--_image-width: 180px;
	--_image-min-width-px: 120px;
	--_image-min-width-vw: 30vw;

	margin-right: var(--_margin-right);
	margin-left: var(--_margin-left);
	margin-bottom: var(--_margin-bottom);
	float: var(--_float);
	display: flex;
	justify-content: center;
	width: calc(var(--_image-width) + var(--_image-border-width) * 2);
	height: calc(var(--_image-width) / var(--_image-aspect-ratio) + var(--_image-border-width) * 2);
	pointer-events: none;

	@media (--breakpoint-entry-link) {
		--_margin-right: 0px;
		--_margin-left: var(--_gap);
		--_margin-bottom: clamp(0px, var(--_image-min-width-px) - var(--_image-min-width-vw), var(--_gap));
		--_float: right;
		--_image-width: min(var(--_image-min-width-px), var(--_image-min-width-vw));
	}
}

.c-entry-link__image {
	border: var(--_image-border-width) solid;
	display: block;
	max-width: var(--_image-width);
	max-height: calc(var(--_image-width) / var(--_image-aspect-ratio));
	color: var(--color-black);
	background: var(--color-white);
	pointer-events: auto;

	@nest :any-link:hover & {
		box-shadow: 0 0 5px var(--color-border-dark);
	}
}

.c-entry-link__title {
	margin-left: calc(0px - var(--_bullet-width) - var(--_bullet-gap));

	&::before {
		margin-right: var(--_bullet-gap);
		content: "";
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		width: var(--_bullet-width);
		height: var(--_bullet-height);
		background: var(--_bullet-color);
	}

	@nest :any-link:hover & {
		--_bullet-color: var(--link-color-hover);
	}

	@nest .p-title-list & {
		font-size: calc(100% * var(--font-ratio-3));
	}
}

.c-entry-link__date {
	margin-top: 0.5em;
	overflow: hidden;
}

/* ===== 著書リンク ===== */
.c-book-link {
	--_gap: 15px;
	--_bullet-height: 0.75em;
	--_bullet-width: calc(var(--_bullet-height) * 0.6);
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	contain: content;
	display: flow-root; /* for Safari */
	line-height: var(--line-height-narrow);

	& a {
		outline-offset: 0.125em;
	}
}

.c-book-link__thumb {
	--_margin-right: calc(var(--_gap) + var(--_bullet-width) + var(--_bullet-gap));
	--_margin-left: 0px;
	--_float: left;
	--_image-border-width: 1px;
	--_image-height: 160px;

	margin-right: var(--_margin-right);
	margin-left: var(--_margin-left);
	float: var(--_float);
	display: flex;
	justify-content: center;
	height: calc(var(--_image-height) + var(--_image-border-width) * 2);
}

.c-book-link__image {
	border: var(--_image-border-width) solid;
	display: block;
	color: var(--color-black);
	background: var(--color-white);

	@nest :any-link:hover & {
		box-shadow: 0 0 5px var(--color-border-dark);
	}
}

.c-book-link__title {
	margin-left: calc(0px - var(--_bullet-width) - var(--_bullet-gap));
	font-weight: bold;

	&::before {
		margin-right: var(--_bullet-gap);
		content: "";
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		width: var(--_bullet-width);
		height: var(--_bullet-height);
		background: var(--_bullet-color);
	}

	@nest :any-link:hover & {
		--_bullet-color: var(--link-color-hover);
	}
}

.c-book-link__description {
	margin-top: 0.5em;
	line-height: var(--line-height-normal);
	overflow: hidden;
}

/* ===== 注釈リンク ===== */
.c-annotate {
	font-size: calc(100% / var(--font-ratio-2));
	vertical-align: super;

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		padding: 0.25em;
		border: 1px solid var(--_border-color);
		background: var(--_bg-color);
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: #f00;
			--_bg-color: #fee;
		}

		&[role="button"] {
			/* JS 有効時のみ */
			--_color: var(--link-color);

			color: var(--_color);
			text-decoration: none;
			cursor: default;

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}
