/* ==============================
 *   テキスト
 * ============================== */

/* ===== リンク ===== */
.c-link {
	--_icon-width: 0.45em;
	--_icon-height: 0.75em;
	--_icon-color: var(--color-gray);

	&::before {
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: 0.5em;
		background: var(--_icon-color);
		width: var(--_icon-width);
		height: var(--_icon-height);
		content: "";
	}

	&:any-link {
		--_icon-color: var(--link-color-bullet);

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}

/* ===== セルフリンク <a href="#foo">§</a> ===== */
.c-self-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	outline-width: var(--outline-width-bold);
	min-width: 3ex;
	min-height: 3ex;
	color: var(--link-color);
	font-size: calc(100% / var(--font-ratio-3));
	text-decoration: none;
}

/* ===== ボタン ===== */
.c-button {
	--_padding-block: 0.5em;
	--_padding-inline: 0.75em;
	--_border-color: var(--color-border-dark);
	--_width: auto;
	--_color: var(--color-black);
	--_background: var(--color-white);
	--_icon-size: 1.25em;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	box-sizing: border-box;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_background);
	padding: var(--_padding-block) var(--_padding-inline);
	width: var(--_width);
	color: var(--_color);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);
	text-decoration: none;

	@nest button[type="button"]&:focus:not(:focus-visible) {
		outline: none;
	}

	@nest .p-sidebar-profile__banners & {
		--_padding-inline: 1px;
		--_width: 100%;
	}

	@nest .p-entry-footer-social & {
		font-size: calc(100% * var(--font-ratio-1));
	}

	&:disabled {
		display: none;
	}

	&:hover {
		box-shadow: 0 0 2px var(--_border-color);
		color: var(--_color);
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41 100% 53%);
		--_color: var(--color-darkgray);
		--_background: hsl(41 100% 93%);
	}

	/* Twitter */
	&.-twitter {
		--_border-color: hsl(204 88% 43%);
		--_color: var(--color-white);
		--_background: hsl(204 88% 53%);

		outline-color: hsl(204 88% 73%);
	}

	/* GitHub */
	&.-github {
		--_border-color: var(--color-black);
		--_background: var(--color-white);
	}

	/* Amazon */
	&.-amazon {
		--_border-color: #c2a24e;
		--_background: linear-gradient(var(--color-amazon), hsl(44 90% 62%));
	}

	/* YouTube */
	&.-youtube {
		--_border-color: var(--color-red);
		--_color: var(--color-darkred);
		--_background: linear-gradient(var(--color-white), var(--color-verylightred));
	}
}

.c-button__icon {
	width: var(--_icon-size);
	height: var(--_icon-size);
}

.c-button__text {
	@nest .p-entry-footer-social & {
		white-space: nowrap; /* for iPad Safari */
	}
}

/* ===== コード断片 ===== */
.c-code {
	border-radius: var(--border-radius-normal);
	background: var(--color-ultralightgreen);
	padding: 0.25em;
	color: var(--color-green);
	font-weight: var(--font-weight-bold);
}

/* ===== コードハイライト https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css ===== */
/* stylelint-disable selector-class-pattern */
.hljs-doctag,
.hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #005cc5;
}

.hljs-regexp,
.hljs-string {
	/* prettylights-syntax-string */
	color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
	/* prettylights-syntax-comment */
	color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #22863a;
}

.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #24292e;
}

.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #005cc5;
	font-weight: var(--font-weight-bold);
}

.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #735c0f;
}

.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #24292e;
	font-style: italic;
}

.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #24292e;
	font-weight: var(--font-weight-bold);
}

.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	background-color: #f0fff4;
	color: #22863a;
}

.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	background-color: #ffeef0;
	color: #b31d28;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
	/* purposely ignored */
}
/* stylelint-enable selector-class-pattern */

/* ===== 引用 ===== */
.c-quote {
	background: linear-gradient(transparent, transparent 75%, var(--color-yellow) 75%);
	quotes: "\201C""\201D""\2018""\2019";

	&::before {
		padding-inline-start: 0.25em;
		content: open-quote;
	}

	&::after {
		padding-inline-end: 0.25em;
		content: close-quote;
	}
}

/* ===== 注釈リンク ===== */
.c-annotate {
	vertical-align: super;
	font-size: calc(100% / var(--font-ratio-2));

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		border: 1px solid var(--_border-color);
		background: var(--_bg-color);
		padding: 0.25em;
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: var(--color-red);
			--_bg-color: var(--color-verylightred);
		}

		&[role="button"] {
			/* JS 有効時のみ */
			cursor: default;
			color: var(--link-color);
			text-decoration: none;

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}

/* ===== ドメイン表記 ===== */
.c-domain {
	margin-inline: 0.25em;
	color: var(--color-gray);
	font-weight: var(--font-weight-normal);
	font-size: calc(100% / var(--font-ratio-1));
}

/* ===== Amazon 商品カテゴリ ===== */
.c-amazon-binding {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid var(--color-gray);
	border-radius: var(--border-radius-large);
	background: var(--color-white);
	padding: 0.125em 0.5em;
	color: var(--color-gray);
	font-weight: var(--font-weight-bold);
	font-size: calc(100% / var(--font-ratio-1));
	line-height: var(--line-height-narrow);

	@nest .entry-amazon & {
		margin-inline-start: 0.5em;
	}
}

/* ===== 記事メタデータ ===== */
.c-entry-meta {
	display: table;
	line-height: var(--line-height-narrow);
}

.c-entry-meta__group {
	display: table-row;

	& > dt,
	& > dd {
		display: table-cell;
	}

	& > dd {
		&::before {
			margin-inline: 0.25em;
			content: ":";
		}
	}

	&:not(:first-child) {
		& > :is(dt, dd) {
			border-block-start: 0.125em solid transparent;
		}
	}
}

/* ===== 記事件数 ===== */
.c-entry-count {
	display: inline-block;
	border: 1px solid var(--color-powderblue);
	border-radius: var(--border-radius-large);
	background: var(--color-powderblue);
	padding: 0.15em 0.45em;
	color: var(--color-darkblue);
	font-size: calc(100% / var(--font-ratio-4));
	line-height: var(--line-height-nowrap);
	white-space: nowrap;
}

/* 件数の数字部分 */
.c-entry-count__num {
	font-weight: var(--font-weight-bold);
	font-size: calc(100% * var(--font-ratio-3));
}
