/* ==============================
 *   テキスト
 * ============================== */

/* ===== リンク ===== */
.c-link {
	--_icon-inline-size: 0.45em;
	--_icon-block-size: 0.75em;
	--_icon-color: var(--color-gray);

	&::before {
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: 0.5em;
		border-block-start: var(--_icon-block-size) solid var(--_icon-color);
		inline-size: var(--_icon-inline-size);
		content: "";
	}

	&:any-link {
		--_icon-color: var(--link-color-bullet);

		&:hover {
			--_icon-color: var(--link-color-hover);
		}
	}
}

/* ===== セルフリンク <a href="#foo">§</a> ===== */
.c-self-link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	outline-width: var(--outline-width-bold);
	min-inline-size: var(--self-link-size);
	min-block-size: var(--self-link-size);
	color: var(--link-color);
	font-size: calc(100% / var(--font-ratio-3));
	text-decoration: none;
}

/* ===== ボタン ===== */
.c-button {
	--_padding-block: 0.5em;
	--_padding-inline: 0.75em;
	--_border-color: var(--color-border-dark);
	--_inline-size: auto;
	--_color: var(--color-black);
	--_background: var(--color-white);
	--_icon-size: 1.25em;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	box-sizing: border-box;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_background);
	padding: var(--_padding-block) var(--_padding-inline);
	inline-size: var(--_inline-size);
	color: var(--_color);
	font-weight: var(--font-weight-bold);
	line-height: var(--line-height-narrow);
	text-decoration: none;

	:where(button[type="button"]&):focus:not(:focus-visible) {
		outline: none;
	}

	.p-sidebar-profile__banners & {
		--_padding-inline: 1px;
		--_inline-size: 100%;
	}

	.p-entry-footer-social & {
		font-size: calc(100% * var(--font-ratio-1));
	}

	&:disabled {
		display: none;
	}

	&:hover {
		box-shadow: 0 0 2px var(--_border-color);
		color: var(--_color);
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41deg 100% 53%);
		--_color: var(--color-darkgray);
		--_background: hsl(41deg 100% 93%);
	}

	/* Twitter */
	&.-twitter {
		--_border-color: hsl(204deg 88% 43%);
		--_color: var(--color-white);
		--_background: hsl(204deg 88% 53%);

		outline-color: hsl(204deg 88% 73%);
	}

	/* GitHub */
	&.-github {
		--_border-color: var(--color-black);
		--_background: var(--color-white);
	}

	/* Amazon */
	&.-amazon {
		--_border-color: #c2a24e;
		--_background: linear-gradient(var(--color-amazon), hsl(44deg 90% 62%));
	}

	/* YouTube */
	&.-youtube {
		--_border-color: var(--color-red);
		--_color: var(--color-darkred);
		--_background: linear-gradient(var(--color-white), var(--color-verylightred));
	}
}

.c-button__icon {
	inline-size: var(--_icon-size);
	block-size: var(--_icon-size);
}

.c-button__text {
	.p-entry-footer-social & {
		white-space: nowrap; /* for iPad Safari */
	}
}

/* ===== 注釈リンク ===== */
.c-annotate {
	vertical-align: super;
	font-size: calc(100% / var(--font-ratio-2));

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		border: 1px solid var(--_border-color);
		background: var(--_bg-color);
		padding: 0.25em;
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: var(--color-red);
			--_bg-color: var(--color-verylightred);
		}

		&[role="button"] {
			/* JS 有効時のみ */
			cursor: default;
			color: var(--link-color);
			text-decoration: none;

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}

/* ===== ドメイン表記 ===== */
.c-domain {
	margin-inline: 0.25em;
	color: var(--color-gray);
	font-weight: var(--font-weight-normal);
	font-size: calc(100% / var(--font-ratio-1));
}

/* ===== Amazon 商品カテゴリ ===== */
.c-amazon-binding {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid var(--color-gray);
	border-radius: var(--border-radius-large);
	background: var(--color-white);
	padding: 0.125em 0.5em;
	color: var(--color-gray);
	font-weight: var(--font-weight-bold);
	font-size: calc(100% / var(--font-ratio-1));
	line-height: var(--line-height-narrow);

	.entry-amazon & {
		margin-inline-start: 0.5em;
	}
}

/* ===== 記事メタデータ ===== */
.c-entry-meta {
	display: table;
	line-height: var(--line-height-narrow);
}

.c-entry-meta__group {
	display: table-row;

	& > dt,
	& > dd {
		display: table-cell;
	}

	& > dd {
		&::before {
			margin-inline: 0.25em;
			content: ":";
		}
	}

	&:not(:first-child) {
		& > :is(dt, dd) {
			border-block-start: 0.125em solid transparent;
		}
	}
}

/* ===== 記事件数 ===== */
.c-entry-count {
	display: inline-block;
	border: 1px solid var(--color-powderblue);
	border-radius: var(--border-radius-large);
	background: var(--color-powderblue);
	padding: 0.15em 0.45em;
	color: var(--color-darkblue);
	font-size: calc(100% / var(--font-ratio-4));
	line-height: var(--line-height-nowrap);
	white-space: nowrap;
}

/* 件数の数字部分 */
.c-entry-count__num {
	font-weight: var(--font-weight-bold);
	font-size: calc(100% * var(--font-ratio-3));
}
