# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    labels:
      - 'dependencies'

  - package-ecosystem: 'npm'
    directories:
      - '/'
      - '/frontend'
      - '/hono'
      - '/remark'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@types/node'
    labels:
      - 'dependencies'
