/* ==============================
 *   コンテンツエリア（.l-content__header, l-content__footer）
 * ============================== */

/* ===== ページタイトル ===== */
.p-title {
	line-height: var(--line-height-narrow);

	& > h1 {
		border: 1px solid;
		border-radius: var(--border-radius-small);
		background: linear-gradient(var(--color-white), var(--color-bg-dark));
		padding: 0.75em 1.5%;
		text-shadow: 1px 1px 1px var(--color-lightgray);
		font-size: clamp(calc(100% * pow(var(--font-ratio), 1)), 7svi, calc(100% * pow(var(--font-ratio), 5)));
	}
}

/* ===== ページ送り ===== */
.p-page-nav {
	display: block flex;
	flex-flow: wrap;
	gap: 0.5em 5%;
	justify-content: center;
	line-height: var(--line-height-narrow);
}

.p-page-nav__link {
	--_bg-color: var(--color-white);
	--_icon-size: 0.75em;
	--_gap: 0.75em;

	display: inline flex;
	align-items: center;
	outline-offset: -1px;
	outline-width: var(--outline-width-bold);
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: 0.75em 1em;
	text-decoration: none;

	&:hover {
		--_bg-color: var(--color-bg-superlight);
	}

	&.-start::before,
	&.-prev::before,
	&.-next::after {
		display: inline flow-root;
		background: currentColor;
		block-size: var(--_icon-size);
		inline-size: var(--_icon-size);
		content: "";
	}

	&.-start::before {
		clip-path: polygon(50% 0, 0 50%, 50% 100%, 60% 90%, 20% 50%, 60% 10%, 50% 0, 90% 0, 40% 50%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0);
		margin-inline-end: var(--_gap);
	}

	&.-prev::before {
		clip-path: polygon(50% 0, 0 50%, 50% 100%, 60% 90%, 20% 50%, 60% 10%);
		margin-inline-end: calc(var(--_gap) - var(--_icon-size) * 0.4);
	}

	&.-next::after {
		clip-path: polygon(50% 0, 100% 50%, 50% 100%, 40% 90%, 80% 50%, 40% 10%);
		margin-inline-start: calc(var(--_gap) - var(--_icon-size) * 0.4);
	}
}
