/* ==============================
 *   エラーページ
 * ============================== */

/* ===== ページタイトル ===== */
.p-err-title {
	display: block flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: center;
	justify-content: center;
	line-height: var(--line-height-narrow);
	font-weight: var(--font-weight-bold);

	/* エラーメッセージ */
	> h1 {
		font-size: calc(100% * var(--font-ratio-5));
	}
}

/* エラーコード */
.p-err-title__code {
	order: -1;
	border: 1px solid;
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	padding: 0.5em 0.75em;
	font-size: calc(100% * var(--font-ratio-2));
}

/* ===== トップページの埋め込み ===== */
.p-err-topthumb {
	margin-block-start: 4vh;
}

.p-err-topthumb__portal {
	--portal-width: calc(var(--page-max-width) / 2);
	--portal-height: calc(var(--portal-width) * 0.5625); /* 16:9 */
	--portal-scale: 0.5;
	--portal-animation-duration: 0.5s;
	--portal-outline-width: 2px;
	--portal-outline-color: var(--outline-color);
	--portal-outline-offset: 3px;

	@media (prefers-reduced-motion) {
		--portal-animation-duration: 0.001s;
	}
}

/* ===== サイト内検索 ===== */
.p-err-search {
	display: block grid;
	grid-template-areas:
		"legend"
		"ctrl";
	grid-template-columns: min(30em, 100%);
	justify-content: center;
	margin-block-start: 10vh;

	& > fieldset {
		display: contents;
	}
}

.p-err-search__legend {
	grid-area: legend;
	font-weight: var(--font-weight-bold);
}

.p-err-search__ctrl {
	grid-area: ctrl;
	font-size: calc(100% * var(--font-ratio-3));
}
