/* ==============================
 *   ページフッター
 * ============================== */

/* ===== ナビゲーション ===== */
.p-footer-nav {
	--_flex-direction: column;
	--_justify-content: flex-start;

	display: block flex;
	flex-flow: var(--_flex-direction) wrap;
	gap: 0.5em 0;
	justify-content: var(--_justify-content);
	font-size: calc(100% * var(--font-ratio-1));

	@container footer-nav (inline-size >= 30em) {
		--_flex-direction: row;
		--_justify-content: center;

		& > li {
			display: block flex;
			align-items: center;

			&:not(:last-child)::after {
				transform: rotate(22.5deg);
				margin-inline: 2em;
				background-color: var(--page-color);
				block-size: 0.8em;
				inline-size: 1px;
				content: "";
			}
		}
	}

	& :any-link {
		outline-offset: var(--outline-offset-linkonly);
	}
}

/* ===== アドセンス ===== */
.p-footer-ads {
	margin-inline: auto;
	inline-size: min(100%, 960px);

	& .adsbygoogle {
		display: block flow;
	}
}

.p-footer-ads__hdg {
}
