/** ==============================
 *   ページヘッダー
 * ============================== */

/* ===== サイトロゴ ===== */
.p-header-site {
	display: block flex;
	flex-direction: column;
	gap: 0.25em;
}

/* サイト名 */
.p-header-site__name {
	text-shadow: 0.05em 0.05em 0.1em var(--color-border-light);
	color: #f00;
	font: 700 2rem / var(--line-height-narrow) var(--font-yu-mincho);
	font-feature-settings: "palt";

	& :any-link {
		--_padding: 0.05em;

		display: inline flow-root;
		margin: calc(0px - var(--_padding));
		outline-offset: 0;
		outline-width: var(--outline-width-bold);
		border-radius: var(--border-radius-small); /* outline を柔らかくする */
		padding: var(--_padding);
		text-decoration: none;
		color: inherit;

		&:hover {
			text-shadow: 0 0 1em var(--color-border-dark);
		}
	}
}

/* サイト概要 */
.p-header-site__summary {
	color: var(--color-gray);
	font-size: calc(100% / pow(var(--font-ratio), 2));
}

/* ===== ナビゲーション ===== */
.p-header-nav {
	display: block flex;
	gap: 0.5em;
}

/* ===== サイト内検索 ===== */
.p-header-search {
}

.p-header-search__legend {
	font-size: calc(100% / pow(var(--font-ratio), 1));
	font-weight: var(--font-weight-bold);
}

.p-header-search__ctrl {
	.p-header-search__legend + & {
		margin-block-start: 0.1em;
	}
}
