/* ==============================
 *   埋め込みコンテンツ
 * ============================== */

/* ===== 埋め込みコンテンツ（画像、動画、 <iframe> など） ===== */
.p-embed {
	contain: layout;

	& > :any-link {
		--_expand-icon-padding: 4px;

		display: inline flow-root;
		outline-offset: -1px;
		outline-width: var(--outline-width-bold);

		&::before {
			box-sizing: border-box;
			display: block flow;
			position: absolute;
			inset: 1px;
			background: rgb(0 0 0 / 70%) url("/image/entry/media-expansion.svg") center/contain no-repeat content-box border-box;
			padding: var(--_expand-icon-padding);
			block-size: 24px;
			inline-size: 24px;
			content: "";
		}

		&:hover {
			--_expand-icon-padding: 3px;
		}
	}
}

.p-embed__image,
.p-embed__video {
	display: inline flow-root;
	border: var(--entry-embed-border-width) solid var(--color-black);
	block-size: auto;
	max-inline-size: calc(100% - var(--entry-embed-border-width) * 2);
	vertical-align: top;
}

.p-embed__video {
	outline-offset: -1px;
	outline-width: var(--outline-width-bold);
}

.p-embed__frame {
	display: block flow;
	border: var(--entry-embed-border-width) solid var(--color-black);
	aspect-ratio: var(--aspect-ratio, auto);
	block-size: auto;
	max-inline-size: 100%;
}
