/* ==============================
 *   表
 * ============================== */

/* ===== データ表 ===== */
.p-table {
	--_color: var(--color-black);
	--_bg-color: var(--color-white);
	--_text-align: start;

	line-height: var(--line-height-narrow);

	& :is(td, th) {
		border: 1px solid;
		background: var(--_bg-color);
		padding: 0.75em min(1dvi, 10px);
		text-align: var(--_text-align);
		color: var(--_color);
		font-size: clamp(calc(100% / pow(var(--font-ratio), 1)), 2svi, 100%);
	}

	& > thead {
		--_bg-color: var(--color-bg-light);
		--_text-align: center;
	}

	& > tbody th {
		--_bg-color: var(--color-bg-superlight);
	}

	& > :is(thead + tbody, tbody + tbody) {
		border-block-start: 2px solid;
	}
}
