/* ==============================
 *   リスト
 * ============================== */

/* ===== 通常リスト ===== */
.p-list {
	& > li {
		margin-inline-start: 1em;
		list-style-type: disc;

		& + li {
			margin-block-start: 0.5em;
		}

		& > .p-list {
			& > li {
				margin-block-start: 0.25em;
				list-style-type: circle;
			}
		}
	}
}

/* ===== 番号リスト ===== */
.p-list-num {
	& > li {
		margin-inline-start: 1em;
		list-style-type: decimal;

		& + li {
			margin-block-start: 0.5em;
		}
	}
}

/* ===== 記述リスト ===== */
.p-list-description {
	& > dt {
		font-weight: var(--font-weight-bold);
	}

	& > dd + dt {
		margin-block-start: 0.5em;
	}

	& > dd {
		margin-inline-start: 1em;
	}
}

/* ===== 注釈リスト ===== */
.p-notes {
	color: var(--color-darkgray);

	.p-entry & {
		margin-inline: 1em;
		color: var(--color-note);
	}

	& > li {
		margin-inline-start: 1.25em;
		list-style-type: "※ ";
		font-size: calc(100% / pow(var(--font-ratio), 1));

		& + li {
			margin-block-start: 0.75em;
		}
	}
}

/* ===== リンクリスト ===== */
.p-links {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-block-size: 0.75em;
	--_icon-inline-size: calc(var(--_icon-block-size) * 0.6);
	--_icon-color: var(--color-gray);
	--_icon-gap: 0.5em;

	line-height: var(--line-height-normal);

	& > li {
		margin-inline-start: calc((var(--_icon-inline-size) + var(--_icon-gap)) * pow(var(--font-ratio), 2));

		& + li {
			margin-block-start: 1em;
		}

		& > a {
			margin-inline-start: calc(0px - var(--_icon-inline-size) - var(--_icon-gap));

			&::before {
				display: inline flow-root;
				clip-path: var(--_icon-clip-path);
				margin-inline-end: var(--_icon-gap);
				border-block-start: var(--_icon-block-size) solid var(--_icon-color);
				inline-size: var(--_icon-inline-size);
				content: "";
			}
		}

		& > :any-link {
			--_icon-color: var(--link-color-bullet);

			outline-offset: var(--outline-offset-linkonly);

			&:hover {
				--_icon-color: var(--link-color-hover);
			}
		}
	}
}

/* ===== 目次 ===== */
.p-toc {
	--_icon-inline-size: 0.75em; /* アイコンの幅 */
	--_icon-block-size: calc(var(--_icon-inline-size) * 0.75); /* アイコンの高さ */
	--_icon-color: var(--color-gray); /* アイコンの色 */
	--_icon-gap: 0.5em; /* アイコンと後続テキストの間隔 */

	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-bg-superlight);
	padding: 1.25em min(1.25dvi, 1.25em);
	line-height: var(--line-height-narrow);

	.p-entry & {
		&:not(:first-child) {
			margin-block-start: calc(var(--stack-margin-base) * 3);
		}

		&:not(:last-child) {
			margin-block-end: calc(var(--stack-margin-base) * 3);
		}
	}

	& > ol {
		margin-inline-start: calc(var(--_icon-inline-size) + var(--_icon-gap));
		font-size: calc(100% * pow(var(--font-ratio), 1));

		& > li {
			& + li {
				margin-block-start: 0.75em;
			}

			& > :any-link {
				margin-inline-start: calc(0px - var(--_icon-inline-size) - var(--_icon-gap));
				outline-offset: var(--outline-offset-linkonly);

				&::before {
					display: inline flow-root;
					clip-path: var(--shape-pagelink-triangle);
					margin-inline-end: var(--_icon-gap);
					border-block-start: var(--_icon-block-size) solid var(--_icon-color);
					inline-size: var(--_icon-inline-size);
					content: "";
				}

				&:hover {
					--_icon-color: var(--link-color-hover);
				}
			}
		}
	}
}

/* ===== 脚注リスト ===== */
.p-footnote {
	border: 1px solid var(--color-bg-light);
	border-radius: var(--border-radius-large);
	background: var(--color-bg-light);
	padding: 1em;
	font-size: calc(100% / pow(var(--font-ratio), 1));

	.p-entry & {
		border-color: var(--color-bg-dark);

		&:last-child {
			margin-block-start: calc(var(--stack-margin-base) * 6);
		}
	}
}

.p-footnote__hdg {
}

.p-footnote__list {
	display: block table;
	margin-block-start: 0.25em;

	& > li {
		display: table-row;

		&:not(:first-child) {
			& > * {
				border-block-start: 0.5em solid transparent;
			}
		}
	}
}

.p-footnote__no,
.p-footnote__content {
	display: table-cell;
	vertical-align: top;
}

.p-footnote__no {
	padding-block-start: 0.5em;
	text-align: end;
	white-space: nowrap;
}

.p-footnote__content {
	padding-block-start: 0.5em;
	padding-inline-start: 0.5em;
	inline-size: 100%;
}

.p-footnote__backref {
	margin-inline-start: 0.5em;
	font-size: calc(100% / pow(var(--font-ratio), 2));
}
