/** ==============================
 *   埋め込みコンテンツ
 * ============================== */

/* ===== 埋め込みコンテンツ（画像、動画、 <iframe> など） ===== */
.p-embed {
}

.p-embed__image,
.p-embed__video {
	box-sizing: revert;
	display: inline flow-root;
	border: var(--entry-embed-border-width) solid var(--color-black);
	block-size: auto;
	max-inline-size: calc(100% - var(--entry-embed-border-width) * 2);
	vertical-align: top;
}

.p-embed__video {
	outline-offset: -1px;
	outline-width: var(--outline-width-bold);
}

.p-embed__frame {
	box-sizing: revert;
	display: block flow;
	border: var(--entry-embed-border-width) solid var(--color-black);
	aspect-ratio: var(--aspect-ratio, auto);
	block-size: auto;
	max-inline-size: calc(100% - var(--entry-embed-border-width) * 2);
}
