.env
.env.*
log4js.*.json

/**/node_modules/
/.html/
/.vscode/

/frontend/.rollup.cache/
/frontend/script/tsconfig.tsbuildinfo

/hono/dist/

/public/**/*.atom
/public/**/*.br
/public/**/*.map
/public/**/*.svg
/public/favicon.ico
/public/sitemap.xml
/public/json/
/public/script/
/public/style/
