# https://docs.npmjs.com/cli/v11/using-npm/config

allow-git=none # expected to become the default in npm CLI v12 <https://github.blog/changelog/2026-02-18-npm-bulk-trusted-publishing-config-and-script-security-now-generally-available/>
engine-strict=true
min-release-age=1
save-exact=true
strict-peer-deps=true
