{
	"endOfLine": "lf",
	"printWidth": 160,
	"singleQuote": true,
	"useTabs": true,

	"overrides": [
		{
			"files": ["*.html", "*.ejs"],
			"options": {
				"parser": "html",
				"printWidth": 9999
			}
		},
		{
			"files": "*.css",
			"options": {
				"parser": "css",
				"printWidth": 9999,
				"singleQuote": false
			}
		}
	]
}
