<footer id="footer" class="l-footer">
	<div class="l-footer__nav">
		<ul class="p-footer-nav">
			<li><a href="https://w0s.jp/info">制作者</a></li>
			<li><a href="https://w0s.jp/privacy">プライバシーポリシー</a></li>
			<li><a href="https://w0s.jp/technology">当サイトの Web 技術</a></li>
			<li><a href="https://w0s.jp/contact">問い合わせ</a></li>
		</ul>
	</div>

	<div class="l-footer__social">
		<ul class="p-footer-social">
			<li>
				<a href="https://github.com/SaekiTominaga/blog.w0s.jp" rel="external">
					<span class="p-footer-social__image"><img src="/image/icon/github.svg" alt="" width="48" height="48" /></span>
					<span class="p-footer-social__text">GitHub</span>
				</a>
			</li>
			<li>
				<a href="https://fedibird.com/@SaekiTominaga" rel="external">
					<span class="p-footer-social__image"><img src="/image/icon/mastodon.svg" alt="" width="48" height="48" /></span>
					<span class="p-footer-social__text">Mastodon</span>
				</a>
			</li>
			<li>
				<a href="https://bsky.app/profile/w0s.jp" rel="external">
					<span class="p-footer-social__image"><img src="/image/icon/bluesky.svg" alt="" width="48" height="48" /></span>
					<span class="p-footer-social__text">Bluesky</span>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@SaekiTominaga" rel="external">
					<span class="p-footer-social__image"><img src="/image/icon/youtube.svg" alt="" width="48" height="48" /></span>
					<span class="p-footer-social__text">YouTube</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="l-footer__ads">
		<section class="p-footer-ads">
			<h2 class="p-footer-ads__hdg">広告</h2>

			<ins class="adsbygoogle js-ads-google" data-ad-format="autorelaxed" data-ad-client="ca-pub-3297715785193216" data-ad-slot="5374501322"></ins>
		</section>
	</div>
</footer>
