@view-transition {
	navigation: auto;
}

:root {
	--_color: var(--page-color);
	--_bg-color: var(--page-bg-color);

	color: var(--_color);
	font: var(--font-weight-normal) var(--page-font-size) / var(--line-height-wide) sans-serif;

	@media print {
		--_color: var(--color-black);
		--_bg-color: var(--color-white);
	}

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

head /* for iOS Vialdi 7.7 (Force a dark theme on all websites) */,
body {
	background-color: var(--_bg-color);
	color: inherit;
}

:focus {
	outline: var(--outline-width) solid var(--outline-color);
}

:any-link {
	outline-offset: var(--outline-offset);

	/* for iOS Firefox auto link https://github.com/mozilla-mobile/firefox-ios/issues/8511 */
	&[href^="tel:"] {
		text-decoration: none;
		color: inherit;
		pointer-events: none;
	}

	&:not([href^="tel:"]):hover {
		color: var(--link-color-hover);
	}
}

:link {
	color: var(--link-color);
}

:visited {
	color: var(--link-color-visited);
}

::placeholder {
	opacity: 0.54;
	color: var(--color-black);
}

pre {
	tab-size: 2;

	@media print {
		text-wrap-mode: wrap; /* default value: `white-space: pre` */
	}
}

em {
	&:lang(ja) {
		font-weight: var(--font-weight-bold);
	}
}

small {
	font-size: calc(100% / pow(var(--font-ratio), 2));
	font-weight: var(--font-weight-normal);
}

code {
	border-radius: var(--border-radius-normal);
	background-color: var(--color-ultralightgreen);
	padding-block: 0.1lh;
	color: var(--color-green);

	:is(h1, h2, h3, h4, h5, h6, hgroup, pre, a, .c-domain) & {
		border-radius: initial;
		background-color: initial;
		padding-block: initial;
		color: inherit;
	}

	.c-domain & {
		font-family: inherit;
	}

	/* for Chrome, Safari */
	:visited & {
		color: var(--link-color-visited);
	}

	/* for Chrome, Safari */
	:visited:hover & {
		color: var(--link-color-hover);
	}
}

q {
	background: linear-gradient(transparent, transparent 75%, var(--color-yellow) 75%);
	quotes: "\201C" "\201D" "\2018" "\2019";

	&::before {
		padding-inline-start: 0.25em;
		content: open-quote;
	}

	&::after {
		padding-inline-end: 0.25em;
		content: close-quote;
	}
}

input:is([type="radio" i], [type="checkbox" i]) {
	accent-color: var(--color-skyblue);
}
