<footer id="footer" class="l-footer">
	<div class="l-footer__nav">
		<ul class="p-footer-nav">
			<li><a href="https://w0s.jp/info" class="c-link">制作者</a></li>
			<li><a href="https://w0s.jp/privacy" class="c-link">プライバシーポリシー</a></li>
			<li><a href="https://w0s.jp/technology" class="c-link">当サイトの Web 技術</a></li>
			<li><a href="https://w0s.jp/contact" class="c-link">問い合わせ</a></li>
		</ul>
	</div>

	<div class="l-footer__ads">
		<section class="p-footer-ads" aria-label="広告">
			<ins class="adsbygoogle js-ads-google" data-ad-format="autorelaxed" data-ad-client="ca-pub-3297715785193216" data-ad-slot="5374501322"></ins>
		</section>
	</div>
</footer>
