<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<div class="p-header-site">
				<%_ if (heading) { _%><%_ if (page.path === '/') { _%>
				<h1 class="p-header-site__name" itemprop="name"><a aria-current="page">富永日記帳</a></h1>
				<%_ } else { _%>
				<h1 class="p-header-site__name" itemprop="name"><a href="/">富永日記帳</a></h1>
				<%_ } _%>
				<p class="p-header-site__summary" itemprop="description">ウェブ技術や東急電車、久米田康治作品の話を中心としたブログ</p>
				<%_ } else { _%>
				<div class="p-header-site__name"><a href="/">富永日記帳</a></div>
				<p class="p-header-site__summary">ウェブ技術や東急電車、久米田康治作品の話を中心としたブログ</p>
				<%_ } _%>
			</div>
		</div>
		<div class="l-header__nav">
			<div class="p-header-nav">
				<a href="/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/image/icon/feed.svg" alt="" class="c-button__icon" />
					<span class="c-button__text">フィード</span>
				</a>
			</div>

			<form action="https://duckduckgo.com/" role="search" class="p-header-search" aria-label="サイト内検索">
				<div class="c-search">
					<span class="c-search__hidden">
						<input type="hidden" name="sites" value="blog.w0s.jp" />
						<input type="hidden" name="kf" value="-1" />
						<input type="hidden" name="ku" value="1" />
					</span>
					<span class="c-search__query">
						<input type="search" name="q" required="" title="キーワード" />
					</span>
					<span class="c-search__submit">
						<button>
							<svg role="img" aria-labelledby="header-search-button">
								<title id="header-search-button">検索</title>
								<use href="/image/icon/search.svg#icon"></use>
							</svg>
						</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</header>
