<header id="header" class="l-header">
	<div class="l-header__main">
		<div class="l-header__site">
			<div class="p-header-site">
				<%_ if (heading) { _%>
					<%_ if (pagePathAbsoluteUrl === '/') { _%>
					<h1 class="p-header-site__name"><a aria-current="page">富永日記帳</a></h1>
					<%_ } else { _%>
					<h1 class="p-header-site__name"><a href="/">富永日記帳</a></h1>
					<%_ } _%>
				<%_ } else { _%>
				<div class="p-header-site__name"><a href="/">富永日記帳</a></div>
				<%_ } _%>
				<p class="p-header-site__summary">ウェブ技術や東急電車、久米田康治作品の話を中心としたブログ</p>
			</div>
		</div>
		<div class="l-header__nav">
			<div class="p-header-nav">
				<a href="/feed" type="application/atom+xml" class="c-button -feed">
					<img src="/image/icon/feed.svg" alt="" class="c-button__icon" />
					<span class="c-button__text">フィード</span>
				</a>
			</div>

			<search role="search">
				<form action="https://www.google.com/search" class="p-header-search">
					<fieldset>
						<legend class="p-header-search__legend">サイト内検索<small>（Google 検索）</small></legend>
						<div class="p-header-search__ctrl c-search">
							<span class="c-search__hidden">
								<input type="hidden" name="as_sitesearch" value="blog.w0s.jp" />
							</span>
							<span class="c-search__query">
								<input type="search" name="q" required="" title="キーワード" />
							</span>
							<span class="c-search__submit">
								<button>
									<svg role="img" aria-labelledby="header-search-button">
										<title id="header-search-button">検索</title>
										<use href="/image/icon/search.svg#icon"></use>
									</svg>
								</button>
							</span>
						</div>
					</fieldset>
				</form>
			</search>
		</div>
	</div>
</header>
