/* ==============================
 *   ページレイアウト共通
 * ============================== */

.l-page {
	display: grid;
}

/* ===== ページヘッダー ===== */
.l-header {
	grid-column: header;
	padding: 20px 0 40px;
	display: grid;
	grid-template-columns: [full-start] var(--page-margin-inline) var(--page-padding-inline) [content-start] 1fr [content-end] var(--page-padding-inline) var(--page-margin-inline) [full-end];
	line-height: var(--line-height-narrow);
}

/* ヘッダーメイン */
.l-header__main {
	grid-column: content;
	display: grid;
	gap: 20px;
	grid-template-areas: "site nav";
	grid-template-columns: 50% 1fr;

	@media (max-width: 60em) {
		grid-template-areas:
			"site"
			"nav";
		grid-template-columns: auto;
	}
}

/* サイトロゴ */
.l-header__site {
	grid-column: site;
}

/* ナビゲーション */
.l-header__nav {
	grid-column: nav;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px 20px;

	@media (max-width: 36em) {
		justify-content: flex-start;
	}
}

/* ===== コンテンツエリア ===== */
.l-content {
	grid-column: content;
}

.l-content__header {
	line-height: var(--line-height-normal);
}

.l-content__main {
	line-height: var(--line-height-normal);

	@nest .l-content__header + & {
		margin-block-start: 80px;
	}
}

.l-content__footer {
	margin-block-start: 120px;
	line-height: var(--line-height-normal);
}

@media (--breakpoint) {
	.l-content {
		display: grid;
		grid-column: content-padding-left / content-padding-right;
		grid-template-columns: subgrid;

		@supports not (grid-template-columns: subgrid) {
			display: contents; /* for Chrome, Safari, Edge */
		}
	}

	.l-content__header,
	.l-content__footer {
		grid-column: content;
	}

	.l-content__main {
		grid-column: inherit;
	}
}

/* ===== サイドバー ===== */
.l-sidebar {
	grid-column: sidebar;
	line-height: var(--line-height-narrow);

	& > [class^="p-sidebar-"]:not([hidden]) {
		& + [class^="p-sidebar-"] {
			margin-block-start: 2em;
		}
	}
}

/* ===== ページフッター ===== */
.l-footer {
	grid-column: footer;
	margin-block-start: 80px;
	padding: 50px 0;
	border: solid var(--color-border-light);
	border-width: 1px 0;
	display: grid;
	grid-template-columns: [full-start] var(--page-margin-inline) var(--page-padding-inline) [content-start] 1fr [content-end] var(--page-padding-inline) var(--page-margin-inline) [full-end];
	background: var(--color-bg-superlight);
	line-height: var(--line-height-narrow);
}

/* サイト横断ナビゲーション */
.l-footer__nav {
	grid-column: content;
}

/* アドセンス */
.l-footer__ads {
	margin-block-start: 100px;
	grid-column: content;
}
