/* ==============================
 *   ページレイアウト共通
 * ============================== */

.l-page {
	display: grid;
}

/* ===== ページヘッダー ===== */
.l-header {
	grid-column: header;
	padding: 20px 0 40px;
	display: grid;
	grid-template-columns: [full-start] var(--page-col-margin) var(--page-col-padding) [content-start] 1fr [content-end] var(--page-col-padding) var(--page-col-margin) [full-end];
	line-height: var(--line-height-narrow);
}

/* ヘッダーメイン */
.l-header__main {
	grid-column: content;
	display: grid;
	gap: 20px;
	grid-template-areas: "site nav";
	grid-template-columns: 50% 1fr;

	@media (max-width: 60em) {
		grid-template-areas:
			"site"
			"nav";
		grid-template-columns: auto;
	}
}

/* サイトロゴ */
.l-header__site {
	grid-column: site;
}

/* ナビゲーション */
.l-header__nav {
	grid-column: nav;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px 20px;

	@media (max-width: 36em) {
		justify-content: flex-start;
	}
}

/* ===== コンテンツエリア ===== */
.l-content {
	grid-column: content;

	@media (--breakpoint) {
		grid-column: content-padding-left / content-padding-right;
	}
}

.l-content__header {
	--_line-height: var(--line-height-narrow);

	line-height: var(--_line-height);

	& > [class^="p-"] {
		margin-left: auto;
		margin-right: auto;
		width: var(--_stack-width);

		&:not(:first-child) {
			margin-top: calc(var(--_stack-margin-row) * var(--_line-height));
		}

		&:not(:last-child) {
			margin-bottom: calc(var(--_stack-margin-row) * var(--_line-height));
		}
	}
}

.l-content__main {
	@nest .l-content__header + & {
		margin-top: 30px;
	}
}

.l-content__footer {
	--_line-height: var(--line-height-narrow);

	margin-top: 60px;
	line-height: var(--_line-height);

	& > [class^="p-"] {
		&:not(:first-child) {
			margin-top: calc(var(--_stack-margin-row) * var(--_line-height));
		}

		&:not(:last-child) {
			margin-bottom: calc(var(--_stack-margin-row) * var(--_line-height));
		}
	}
}

/* ===== サイドバー ===== */
.l-sidebar {
	--_stack-margin-row: 20px;
	--_line-height: var(--line-height-narrow);

	grid-column: sidebar;
	line-height: var(--_line-height);

	& > [class^="p-"] {
		&:not(:first-child) {
			margin-top: calc(var(--_stack-margin-row) * var(--_line-height));
		}

		&:not(:last-child) {
			margin-bottom: calc(var(--_stack-margin-row) * var(--_line-height));
		}
	}
}

/* ===== ページフッター ===== */
.l-footer {
	grid-column: footer;
	margin-top: 80px;
	padding: 50px 0;
	border: solid var(--color-border-light);
	border-width: 1px 0;
	display: grid;
	grid-template-columns: [full-start] var(--page-col-margin) var(--page-col-padding) [content-start] 1fr [content-end] var(--page-col-padding) var(--page-col-margin) [full-end];
	background: var(--color-bg-superlight);
	line-height: var(--line-height-narrow);
}

/* サイト横断ナビゲーション */
.l-footer__nav {
	grid-column: content;
}

/* アドセンス */
.l-footer__ads {
	margin-top: 100px;
	grid-column: content;
}
