/* ==============================
 *   エラーページ
 * ============================== */
.l-page {
	display: grid;
	grid-template-columns: var(--page-margin-inline) var(--page-padding-inline) 1fr var(--page-padding-inline) var(--page-margin-inline);
	grid-template-areas:
		"header-margin-left  header-padding-left  header  header-padding-right  header-margin-right "
		"content-margin-left content-padding-left content content-padding-right content-margin-right";
}

/* ===== ページヘッダー ===== */
.l-header {
	grid-column: header;
	border-block-end: 1px dashed var(--color-border-dark);
	padding: 12vh 0 8vh;
}

/* ===== コンテンツエリア ===== */
.l-content {
	grid-column: content;
	padding: 10vh 0;
}
