/* ==============================
 *   通常表示
 * ============================== */

.l-page {
	grid-template-areas:
		"header              header               header  header              header  header                header              "
		"content-margin-left content-padding-left content gap-content-sidebar sidebar content-padding-right content-margin-right"
		"footer              footer               footer  footer              footer  footer                footer              ";
	grid-template-columns: var(--page-col-margin) var(--page-col-padding) 1fr var(--page-content-sidebar-gap) var(--page-sidebar-width) var(--page-col-padding) var(--page-col-margin);
}

@media (--breakpoint) {
	.l-page {
		grid-template-areas:
			"header               header  header               "
			"content-padding-left content content-padding-right"
			"sidebar-padding-left sidebar sidebar-padding-right"
			"footer               footer  footer               ";
		grid-template-columns: var(--page-col-padding) 1fr var(--page-col-padding);
	}

	.l-sidebar {
		margin-top: 80px;
	}
}
