/* ==============================
 *   埋め込みコンテンツ
 * ============================== */

/* ===== 埋め込みコンテンツ（画像、動画、 <iframe> など） ===== */
.p-embed {
	--_border-width: 0px;

	contain: layout;

	.p-entry & {
		--_border-width: 1px;
	}

	& > :any-link {
		--_expand-icon-padding: 4px;

		display: inline-block;
		outline-width: var(--outline-width-bold);
		outline-offset: -1px;

		&::before {
			display: block;
			position: absolute;
			box-sizing: border-box;
			inset: 1px;
			background: rgb(0 0 0 / 70%) url("/image/entry/media-expansion.svg") center/contain no-repeat content-box border-box;
			padding: var(--_expand-icon-padding);
			inline-size: 24px;
			block-size: 24px;
			content: "";
		}

		&:hover {
			--_expand-icon-padding: 3px;
		}
	}
}

.p-embed__image,
.p-embed__video {
	display: inline-block;
	vertical-align: top;
	border: var(--_border-width) solid var(--color-black);
	max-inline-size: calc(100% - var(--_border-width) * 2);
	block-size: auto;
}

.p-embed__image {
	min-inline-size: calc(360px / 1.5 + var(--_border-width) * 2);
}

.p-embed__video {
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
}

.p-embed__frame {
	display: block;
	box-sizing: border-box;
	border: var(--_border-width) solid var(--color-black);
	aspect-ratio: var(--aspect-ratio, auto);
	max-inline-size: 100%;
	block-size: auto;
}
