/* ==============================
 *   メインエリア（.l-content__main）
 * ============================== */

/* ===== ボックス ===== */
.p-box {
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	padding: 1em;
}

.p-box__hdg {
	line-height: var(--line-height-narrow);
}

/* ===== ツールチップ ===== */
.p-tooltip {
	--_border-color: var(--color-border-light);
	--_close-button-padding: 6px;
	--_close-button-image-size: 24px;

	outline: none;
	box-shadow: 0 0 0.5em var(--_border-color);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
	padding: 15px;
	max-inline-size: min(30em, 100%);
	color: var(--color-black);
	font-size: calc(100% / var(--font-ratio-1));

	&:focus {
		--_border-color: var(--outline-color);
	}

	&::before {
		display: block flow;
		float: right;
		inline-size: calc(var(--_close-button-image-size) + var(--_close-button-padding) * 2);
		block-size: calc(var(--_close-button-image-size) + var(--_close-button-padding) * 2);
		content: "";
	}

	& > form[method="dialog"] {
		position: absolute;
		inset-block-start: 1px;
		inset-inline-end: 1px;

		& > button {
			--_border-color: var(--color-white);
			--_background-color: transparent;

			border: 1px solid var(--_border-color);
			border-radius: var(--border-radius-normal);
			background: var(--_background-color);
			padding: var(--_close-button-padding);

			&:hover {
				--_border-color: var(--color-bg-light);
				--_background-color: var(--color-bg-superlight);
			}

			& > img {
				display: block flow;
				inline-size: var(--_close-button-image-size);
				block-size: var(--_close-button-image-size);
			}
		}
	}
}

/* ===== Amazon 商品 ===== */
.p-amazon {
	border: 1px solid var(--color-amazon-dark);
	border-radius: var(--border-radius-large);
	background: linear-gradient(var(--color-amazon-light), var(--color-white));
	padding: 15px;
	color: var(--color-black);
}

.p-amazon__hdg {
	margin-inline-start: -16px;
	margin-block-start: -16px;

	& > img {
		display: block flow;
	}
}

.p-amazon__list {
	display: block grid;
	grid-template-columns: repeat(auto-fill, minmax(min(22em, 100%), 1fr));
	gap: 12px;
	margin-block-start: 15px;
}

.p-amazon__link {
	--_bg-color: var(--color-amazon);

	display: block grid;
	grid-template-columns: min(40%, 160px) 15px 1fr;
	grid-template-areas: "image gap text";
	transition:
		border-color var(--link-hover-transition-duration),
		background-color var(--link-hover-transition-duration);
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--_bg-color);
	border-radius: var(--border-radius-large);
	background: var(--_bg-color);
	padding: 14px;
	line-height: var(--line-height-narrow);
	text-decoration-line: none;

	&:hover {
		--_bg-color: var(--color-amazon-dark);
	}

	&:any-link {
		color: var(--color-darkgray);
	}
}

/* 画像エリア */
.p-amazon__thumb {
	grid-column: image;
}

/* 商品画像 */
.p-amazon__image {
	display: block flow;
	transition: box-shadow var(--link-hover-transition-duration);
	margin: auto;
	max-inline-size: 100%;
	block-size: auto;

	:any-link:hover & {
		box-shadow: 0 0 4px 3px var(--color-amazon-verydark);
	}
}

/* テキストエリア */
.p-amazon__text {
	--_bullet-block-size: 0.75em;
	--_bullet-inline-size: calc(var(--_bullet-block-size) * 0.6);
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	grid-column: text;
	margin-inline-start: calc(var(--_bullet-inline-size) + var(--_bullet-gap));
}

/* 商品タイトル */
.p-amazon__title {
	display: inline flow;
	margin-inline-start: calc(0px - var(--_bullet-inline-size) - var(--_bullet-gap));
	font-weight: var(--font-weight-bold);
	text-decoration-line: underline;

	&::before {
		display: inline flow-root;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: var(--_bullet-gap);
		border-block-start: var(--_bullet-block-size) solid var(--_bullet-color);
		inline-size: var(--_bullet-inline-size);
		content: "";
	}
}

/* ===== ブロックコード ===== */
.p-code {
	position: relative;
	contain: content;
}

.p-code__clipboard {
	display: none;
	position: absolute;
	inset-block-start: 0.5em;
	inset-inline-end: 0.5em;

	.p-code:hover > & {
		display: block flow;
	}
}

.p-code__clipboard-button {
	--_bg-color: var(--color-bg-superlight);
	--_ripple-color: var(--color-black);
	--_ripple-opacity: 0.25;
	--_ripple-transition-duration: 0.5s;

	display: block flow;
	contain: layout; /* ripple effect */
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: 0.5em;
	overflow: hidden; /* ripple effect */
	color: var(--color-black);

	&:hover {
		--_bg-color: var(--color-white);
	}

	/* ripple effect */
	&::before {
		position: absolute;
		transform: scale(4);
		opacity: 0;
		transition: var(--_ripple-transition-duration);
		inset: 0;
		background-image: radial-gradient(circle, var(--_ripple-color) 25%, transparent 0);
		inline-size: 100%;
		block-size: 100%;
		content: "";
	}

	/* ripple effect */
	&:active::before {
		transform: scale(0);
		opacity: var(--_ripple-opacity);
		transition: initial;
	}

	& > img {
		display: block flow;
		inline-size: 1em;
		block-size: 1em;
	}
}

.p-code__code {
	border: 1px solid var(--color-border-light);
	background: var(--color-white);
	padding: 1em;
	overflow-x: auto;
	color: var(--color-black);
	line-height: var(--line-height-narrow);

	&:focus {
		border-color: var(--outline-color); /* 横スクロールバーが表示される場合はブラウザによってフォーカス可能 */
	}

	.p-entry & {
		font-size: calc(100% / var(--font-ratio-1));
	}

	& > code {
		color: #24292e; /* https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css */
	}
}

/* ===== 記事タイトルリスト ===== */
.p-title-list {
	& > li {
		padding-block: 1.5em;

		@media (--breakpoint) {
			padding-inline: var(--page-padding-inline);
		}

		&:not(:first-child) {
			border-block-start: 1px solid var(--color-border-light);
		}
	}

	&.-list {
		border-block: 1px solid var(--color-border-light);
	}
}

/* ===== ダイアログオーバーレイ ===== */
.p-dialog-overlay {
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	inset: 0;
	background: transparent;
	padding: 1em;
	inline-size: 100vw;
	block-size: 100vh;
	color: var(--color-white);
	font-size: 1.2rem;

	&[open] {
		display: block flex;
	}

	&::backdrop {
		background: rgb(0 0 0 / 80%);
	}
}
