/* ==============================
 *   フォーム
 * ============================== */

/* ===== コントロールエリア（グリッド形式の整形） ===== */
.p-form-grid {
	--_gap-block: 1em;
	--_gap-inline: 1em;

	display: block grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "legend contents";
	gap: var(--_gap-block) var(--_gap-inline);
}

.p-form-grid__group {
	display: block grid;
	grid-template-columns: subgrid;
	grid-column: legend / contents;

	@supports not (grid-template-columns: subgrid) {
		display: contents; /* for Chrome, Safari, Edge */
	}

	/* 複雑なフォームは区切り線を付ける */
	.p-form-grid.-complex & {
		border-block-end: 1px solid var(--color-border-light);
		padding-block-end: var(--_gap-block);
	}

	& > fieldset {
		display: contents;
	}
}

.p-form-grid__legend {
	grid-column: legend;
	margin-block-start: calc(0.5em + 1px);
	font-weight: var(--font-weight-bold);
}

.p-form-grid__contents {
	grid-column: contents;
}

@container content (inline-size <= 36em) {
	.p-form-grid {
		grid-template-columns: auto;
		grid-template-areas:
			"legend"
			"contents";
	}

	.p-form-grid__legend {
		margin: 0;
	}

	.p-form-grid__contents {
		margin-block-start: 0.25em;
	}
}

/* ===== エラー文言 ===== */
.p-form-errors {
	outline: none;
	border: 1px solid var(--color-red);
	border-radius: var(--border-radius-large);
	background: var(--color-verylightred);
	padding: 1em;
}

/* ===== 送信結果 ===== */
.p-form-results {
	border: 1px solid;
	border-radius: var(--border-radius-large);
	background: var(--color-white);
	padding: 1em;
	color: var(--color-black);
}

.p-form-results__item {
	display: block flex;
	gap: 0.5em;
	color: var(--color);

	&.-success {
		--color: var(--color-green);
	}

	&.-error {
		--color: var(--color-red);
	}
}

.p-form-results__mark {
	min-inline-size: 1em;
	font-weight: var(--font-weight-bold);
	text-align: center;
}

.p-form-results__message {
}

/* ===== 投稿画像プレビュー ===== */
.p-image-preview {
	display: block flex;
	flex-flow: wrap;
	gap: 10px;

	& > li {
		inline-size: 120px;
	}

	& output {
		display: block flow;
		font-size: calc(100% / var(--font-ratio-1));

		&:not(:has(> img)) {
			border: 1px solid var(--color-border-dark);
			padding: 10px;
		}

		& > img {
			display: block flow;
			inline-size: 100%;
			block-size: 100%;
			object-fit: contain;
			object-position: 0 0;
		}

		& code {
			overflow-wrap: break-word;
		}
	}
}
