/* ==============================
 *   リンク
 * ============================== */

/* ===== 商品リンク ===== */
.p-item {
	--_gap: 15px;
	--_bullet-inline-size: 0.45em;
	--_bullet-block-size: 0.75em;
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	display: block flow-root; /* for Safari */
	contain: layout;
	font-size: calc(100% * var(--font-ratio-2));
	line-height: var(--line-height-narrow);

	& > :any-link {
		outline: none;
	}
}

.p-item__image {
	float: inline-start;
	margin-inline-end: calc(var(--_gap) + var(--_bullet-inline-size) + var(--_bullet-gap));
	border: 1px solid var(--color-black);
	max-inline-size: 50%;
	block-size: auto;

	:focus & {
		outline: var(--outline-width-bold) solid var(--outline-color);
		outline-offset: -1px;
	}

	:any-link:hover & {
		box-shadow: 0 0 5px var(--color-border-dark);
	}
}

.p-item__title {
	margin-inline-start: calc(0px - var(--_bullet-inline-size) - var(--_bullet-gap));

	:focus & {
		outline: var(--outline-width) solid var(--outline-color);
		outline-offset: var(--outline-offset-linkonly);
	}

	:any-link:hover & {
		--_bullet-color: var(--link-color-hover);
	}

	&::before {
		display: inline flow-root;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: var(--_bullet-gap);
		border-block-start: var(--_bullet-block-size) solid var(--_bullet-color);
		inline-size: var(--_bullet-inline-size);
		content: "";
	}
}

.p-item__text {
	margin-block-start: 0.5em;
	overflow: hidden;
	font-size: calc(100% / var(--font-ratio-2));
	line-height: var(--line-height-normal);
}
