/* ==============================
 *   記事投稿
 * ============================== */

/* ===== プレビュー ===== */
.p-post-preview {
	& > * {
		margin-block-start: 0.5em;
	}
}

.p-post-preview__messages {
	& th,
	& td {
		border: 1px solid var(--color-border-light);
		background: var(--_bgcolor);
		padding: 0.25em 0.5em;
	}

	& [data-level="info"] {
		--_bgcolor: var(--color-bg-ultralight);
	}

	& [data-level="warning"] {
		--_bgcolor: var(--color-verylightred);
	}
}

.p-post-preview__preview {
	border: 1px solid var(--color-lightgray);
	max-block-size: 75vh;
	overflow-block: scroll;
	resize: block;
}

/* ===== 画像選択 ===== */
.p-post-select-image {
	contain: layout;
	block-size: 240px;
	inline-size: 240px;

	& img {
		display: block flow;
		position: absolute;
		inset: 0;
		border: 1px solid var(--color-black);
		background: var(--color-white);
		object-fit: contain;
	}

	& :checked + img {
		border-color: var(--color-red);
	}

	& :focus + img {
		outline: var(--outline-width-bold) solid var(--outline-color);
		outline-offset: -1px;
	}
}
