/* ==============================
 *   サイドバー
 * ============================== */

/* ===== プロフィール ===== */
.p-sidebar-profile {
	--_heading-offset: calc(-0.5em * var(--line-height-narrow));

	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	padding: 0 10px 10px;

	&:first-child {
		margin-block-start: calc(0px - var(--_heading-offset));
	}
}

.p-sidebar-profile__hdg {
	position: relative;
	inset-block-start: var(--_heading-offset);
	background-color: var(--page-bg-color);
	padding: 0 0.5em;
	inline-size: fit-content;

	& + * {
		margin-block-start: calc(10px + var(--_heading-offset));
	}
}

.p-sidebar-profile__info {
	display: flow-root; /* for Safari */
	contain: layout;
}

.p-sidebar-profile__address {
	font-weight: var(--font-weight-bold);

	& > :any-link {
		outline-offset: var(--outline-offset-linkonly);
	}
}

/* アバター */
.p-sidebar-profile__avatar {
	float: left;
	margin-inline-end: 10px;

	:focus & {
		outline: var(--outline-width-bold) solid var(--outline-color);
	}

	:any-link:hover & {
		box-shadow: 0 0 5px var(--color-lightgray);
	}
}

/* BIO */
.p-sidebar-profile__bio {
	margin-block-start: 0.5em;
	overflow: hidden;
	font-size: calc(100% / var(--font-ratio-1));
	text-align: justify;
}

/* バナー */
.p-sidebar-profile__banners {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	margin-block-start: 1em;
	font-size: calc(100% / var(--font-ratio-1));
}

/* ===== カテゴリー ===== */
.p-sidebar-categories {
}

.p-sidebar-categories__item {
	--_padding-block: 0.6em;
	--_border-color: var(--color-border-dark);
	--_border-radius-top: 0px;
	--_color: var(--color-black);
	--_bg-color: var(--color-bg-superlight);
	--_font-weight: inherit;

	display: inline-block; /* JS 無効環境向け */
	flex: auto;
	border: 1px solid var(--_border-color);
	border-radius: var(--_border-radius-top) var(--_border-radius-top) 0 0;
	background: var(--_bg-color);
	padding: var(--_padding-block) 0.2em;
	color: var(--_color);
	font-weight: var(--_font-weight);
	font-size: calc(100% / var(--font-ratio-2));
	text-align: center;
	white-space: nowrap; /* JS 無効環境向け */

	&[role="tab"] {
		cursor: default;
		outline-width: 2px;
		outline-offset: -2px;
	}

	&:not(:first-child) {
		margin-inline-start: -1px;
	}

	&:focus-visible {
		z-index: 0;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover {
		--_bg-color: var(--color-bg-light);
	}

	&[aria-selected="true"] {
		--_padding-block: 0.8em;
		--_border-radius-top: var(--border-radius-normal);
		--_bg-color: var(--color-white);
		--_font-weight: var(--font-weight-bold);
	}
}

.p-sidebar-categories__panel {
	border: solid var(--color-border-dark);
	border-width: 0 1px 1px;
}

/* ===== 記事一覧 ===== */
.p-sidebar-entries {
	--_heading-offset: calc(-0.5em * var(--line-height-narrow));

	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
}

.p-sidebar-entries__hdg {
	position: relative;
	margin-inline: 10px;
	inset-block-start: var(--_heading-offset);
	background-color: var(--page-bg-color);
	padding: 0 0.5em;
	inline-size: fit-content;

	& + * {
		margin-block-start: var(--_heading-offset);
	}
}
