/* ==============================
 *   プッシュ通知
 * ============================== */

/* ===== ページタイトル ===== */
.p-push-hdg {
	margin-top: 2em;
	text-align: center;
}

.p-push-hdg__hdg {
	font-size: 2rem;
	font-weight: bold;
}

/* ===== 登録ボタン ===== */
.p-push-buttons {
	margin-top: 2em;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 30em) {
		flex-flow: column;

		& button {
			min-width: 80%;
		}
	}
}

/* ===== メッセージ ===== */
.p-push-message {
	margin-top: 2em;

	& > p {
		margin: auto;
		padding: 1em;
		border: 1px solid;
		border-radius: 0.5em;
		max-width: 30em;
		color: #000;
		background: #fff;
	}

	/* 正常時メッセージ */
	&.-success {
		& > p {
			font-weight: bold;
		}
	}

	/* エラーメッセージ */
	&.-error {
		& > p {
			border-color: #f00;
			color: #d00;
			background-color: #fee;

			& :any-link {
				&:hover,
				&:focus {
					background-color: #ffc;
					text-decoration: none;
				}
			}
		}
	}
}

/* ===== 戻るリンク ===== */
.p-push-back {
	margin-top: 5em;
	font-size: calc(1rem * var(--font-ratio-4));
	text-align: center;
}
