/* ==============================
 *   エラーページ
 * ============================== */
.l-page {
	grid-template-areas: "main-margin-left main main-margin-right";
	grid-template-columns: calc((100% - var(--page-max-width)) / 2 - var(--page-side-padding)) 1fr calc((100% - var(--page-max-width)) / 2 - var(--page-side-padding));
}

.l-main {
	padding: min(10vh, 100px) var(--page-side-padding);
}
