@layer global-base, base, layout, component, project, utility;

/* Foundation */
@import url("foundation/_var.css");
@import url("@w0s/base.css") layer(global-base);
@import url("foundation/_base.css") layer(base);

/* Layout */
@import url("layout/_common.css") layer(layout);

/* Object - Component */
@import url("object/component/_grouping.css") layer(component);
@import url("object/component/_text.css") layer(component);
@import url("object/component/_embedded.css") layer(component);
@import url("object/component/_form-search.css") layer(component);
@import url("object/component/_layout.css") layer(component);

/* Object - Project */
@import url("object/project/_header.css") layer(project);
@import url("object/project/_content.css") layer(project);
@import url("object/project/_main-text.css") layer(project);
@import url("object/project/_main-list.css") layer(project);
@import url("object/project/_main-link.css") layer(project);
@import url("object/project/_main-embedded.css") layer(project);
@import url("object/project/_main-tabular.css") layer(project);
@import url("object/project/_main.css") layer(project);
@import url("object/project/entry/_entry.css") layer(project);
@import url("object/project/entry/_header.css") layer(project);
@import url("object/project/entry/_body.css") layer(project);
@import url("object/project/entry/_footer.css") layer(project);
@import url("object/project/_sidebar.css") layer(project);
@import url("object/project/_footer.css") layer(project);
