@layer global-base, base, layout, component, project, utility;

/* Foundation */
@import url("foundation/_var.css");
@import url("@w0s/base.css") layer(global-base);
@import url("foundation/_base.css") layer(base);

/* Layout */
@import url("layout/_error.css") layer(layout);

/* Object - Component */
@import url("object/component/_form-search.css") layer(component);

/* Object - Project */
@import url("object/project/_error.css") layer(project);
