/* ==============================
 *   コンテンツエリア（.l-content__header, l-content__footer）
 * ============================== */

/* ===== ページタイトル ===== */
.p-title {
	line-height: var(--line-height-narrow);

	& > h1 {
		padding: 0.75em 1.5%;
		border: 1px solid;
		border-radius: var(--border-radius-small);
		background: linear-gradient(var(--color-white), var(--color-bg-dark));
		font-size: clamp(calc(100% * var(--font-ratio-1)), 7vw, calc(100% * var(--font-ratio-5)));
		text-shadow: 1px 1px 1px var(--color-lightgray);
	}
}

/* ===== ページ送り ===== */
.p-page-nav {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	gap: 0.5em 5%;
}

.p-page-nav__link {
	--_bg-color: var(--color-white);

	padding: 0.6em 1em;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-normal);
	display: inline-block;
	background: var(--_bg-color);
	text-decoration: none;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;

	&:hover {
		--_bg-color: var(--color-bg-superlight);
	}

	&.-start::before,
	&.-prev::before,
	&.-next::after {
		display: inline-block;
		font: var(--font-weight-bold) 50% YuGothic, sans-serif;
		letter-spacing: -0.1em;
		vertical-align: 0.3em;
		transform: scaleY(2.2);
	}

	&.-start::before {
		margin-inline-end: 1em;
		content: "≪≪";
	}

	&.-prev::before {
		margin-inline-end: 1em;
		content: "≪";
	}

	&.-next::after {
		margin-inline-start: 1em;
		content: "≫";
	}
}
