/* ==============================
 *   エラーページ
 * ============================== */

/* ===== ページタイトル ===== */
.p-err-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

/* エラーコード */
.p-err-title__code {
	padding: 0.5em 0.75em;
	border: 1px solid;
	border-radius: var(--border-radius-normal);
	display: inline-block;
	background: var(--color-bg-superlight);
	font-size: calc(1rem * var(--font-ratio-2));
}

/* エラーメッセージ */
.p-err-title__msg {
	font-size: calc(1rem * var(--font-ratio-5));
}

/* ===== トップページの埋め込み ===== */
.p-err-topthumb {
	margin-top: 4vh;
}

.p-err-topthumb__portal {
	--portal-width: calc(var(--page-max-width) / 2);
	--portal-height: calc(var(--portal-width) * 0.5625); /* 16:9 */
	--portal-scale: 0.5;
	--portal-animation-duration: 0.5s;
	--portal-outline-width: 2px;
	--portal-outline-color: var(--outline-color);
	--portal-outline-offset: 3px;

	@media (prefers-reduced-motion) {
		--portal-animation-duration: 0.001s;
	}
}

/* ===== サイト内検索 ===== */
.p-err-search {
	margin-top: 10vh;
	display: grid;
	grid-template-areas:
		"legend"
		"ctrl";
	grid-template-columns: min(30em, 100%);
	justify-content: center;

	& > fieldset {
		display: contents;
	}
}

.p-err-search__legend {
	grid-area: legend;
	font-weight: bold;
}

.p-err-search__ctrl {
	grid-area: ctrl;
	font-size: calc(1rem * var(--font-ratio-3));
}
