/* ==============================
 *   ページフッター
 * ============================== */

/* ===== ナビゲーション ===== */
.p-footer-nav {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	gap: 0.5em 0;
	font-size: calc(100% * var(--font-ratio-1));

	@media (min-width: 30em) {
		flex-direction: row;
		justify-content: center;

		& > li {
			display: flex;
			align-items: center;

			&:not(:last-child)::after {
				margin: 0 2em;
				content: "";
				width: 1px;
				height: 0.8em;
				background-color: var(--page-color);
				transform: rotate(22.5deg);
			}
		}
	}
}

/* ===== アドセンス ===== */
.p-footer-ads {
	margin-inline: auto;
	width: min(100%, 960px);

	& .adsbygoogle {
		display: block;
	}
}
