/* ==============================
 *   ページヘッダー
 * ============================== */

/* ===== サイトロゴ ===== */
.p-header-site {
	display: flex;
	flex-flow: wrap;
	align-items: baseline;
	gap: 0.25em 1em;
}

/* サイト名 */
.p-header-site__name {
	color: #f00;
	font: 700 2rem / var(--line-height-narrow) var(--font-mincho);
	font-feature-settings: "palt";

	& a {
		--_padding: 0.05em;
		--_text-shadow: 0.05em 0.05em 0.1em var(--color-border-light);

		margin: calc(0px - var(--_padding));
		padding: var(--_padding);
		display: inline-block;
		border-radius: var(--border-radius-small); /* outline を柔らかくする */
		text-shadow: var(--_text-shadow);
		outline-width: 2px;
		outline-offset: 0;

		&:any-link {
			color: inherit;
			text-decoration: none;

			&:hover {
				--_text-shadow: 0 0 1em var(--color-border-dark);
			}
		}
	}
}

/* サイト概要 */
.p-header-site__summary {
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-2));
	line-height: var(--line-height-narrow);
}

/* ===== ナビゲーション ===== */
.p-header-nav {
	display: flex;
	gap: 0.5em;
}

/* ===== サイト内検索 ===== */
.p-header-search {
	width: min(18em, 100%);
}
