/* ==============================
 *   ページヘッダー
 * ============================== */

/* ===== サイトロゴ ===== */
.p-header-site {
	display: flex;
	flex-flow: wrap;
	align-items: baseline;
	gap: 0.25em 1em;
}

/* サイト名 */
.p-header-site__name {
	color: #f00;
	font: 700 2rem / var(--line-height-narrow) var(--font-mincho);
	font-feature-settings: "palt";

	& a {
		--padding: 0.25em;
		--text-shadow: 0.05em 0.05em 0.1em #ccc;

		margin: calc(0px - var(--padding));
		padding: var(--padding);
		display: inline-block;
		border-radius: 0.1em; /* outline を柔らかくする */
		text-shadow: var(--text-shadow);

		&:any-link {
			color: inherit;
			text-decoration: none;

			&:hover {
				--text-shadow: 0 0 1em #aaa;
			}
		}
	}
}

/* サイト概要 */
.p-header-site__summary {
	color: var(--color-lightgray);
	font-size: calc(1rem / var(--font-ratio-4));
	line-height: var(--line-height-narrow);
}

/* ===== ナビゲーション ===== */
.p-header-nav {
	display: flex;
	gap: 0.5em;
}

/* ===== サイト内検索 ===== */
.p-header-search {
	--height: 2.25em;
}

.p-header-search__ctrls {
	--border-color: var(--color-gray);

	border: 1px solid var(--border-color);
	border-radius: 0.25em;
	display: flex;
	align-items: center;
	color: #333;
	background: #faffff;

	&:focus-within {
		--border-color: var(--focus-ring-color);
	}

	&:hover {
		box-shadow: 0 0 2px var(--border-color);
	}
}

/* サイト入力欄 */
.p-header-search__ctrl-site {
}

/* キーワード入力欄 */
.p-header-search__ctrl-query {
	& input {
		--width: 16em;

		all: initial;
		padding: 0.25em;
		box-sizing: border-box;
		width: var(--width);
		height: var(--height);
		font: inherit;

		@media screen and (max-width: 28em) {
			--width: 100%;
		}

		&:invalid {
			box-shadow: none; /* for Firefox */
		}
	}
}

/* 送信ボタン */
.p-header-search__ctrl-submit {
	& button {
		--color: hsl(220 70% 45%);

		all: initial;
		padding: 0.375em;
		box-sizing: border-box;
		display: flex;
		aspect-ratio: 1/1;
		height: var(--height);
		color: var(--color);
		font: inherit;
		fill: currentColor; /* SVG */

		&:focus:not(:focus-visible) {
			--color: hsl(220 70% 35%);
		}

		&:focus-visible {
			outline: 2px dotted var(--color-black);
		}

		&:hover {
			--color: hsl(220 70% 55%);
		}

		& > svg {
			width: 100%;
			height: 100%;
		} /* for Chrome */
	}
}
