/* ==============================
 *   汎用テキスト
 * ============================== */

/* ===== 追記 ===== */
.p-insert {
	display: flex;
	flex-wrap: wrap;
	line-height: var(--line-height-normal);

	.p-entry & {
		margin-inline: 1em;
		color: var(--color-note);
	}
}

.p-insert__date {
	font-weight: var(--font-weight-bold);
	font-size: calc(100% / var(--font-ratio-1));

	&::after {
		margin-inline: 0.25em;
		content: ":";
	}
}

.p-insert__text {
	font-size: calc(100% / var(--font-ratio-1));
	text-decoration: none;
}

/* ===== ブロック引用 ===== */
.p-quote {
	border-width: 1px 5px;
	border-style: solid;
	border-color: var(--color-green);
	border-radius: var(--border-radius-large);
	background: var(--color-white);
	padding: 1em min(1vw, 1em);

	.p-entry & {
		padding-block: 0.5em;

		& > p {
			margin-block: 0.5em;
		}
	}
}

.p-quote__omit {
	color: var(--color-gray);
}
