/* ==============================
 *   記事用セクション
 * ============================== */
.p-entry-section1 {
	@nest .p-entry & {
		&:not(:first-child) {
			margin-block-start: calc(var(--stack-margin-base) * 4);
		}

		&:not(:last-child) {
			margin-block-end: calc(var(--stack-margin-base) * 4);
		}
	}

	@nest .p-entry .p-toc + & {
		margin-block-start: calc(var(--stack-margin-base) * 3);
	}
}

.p-entry-section1__hdg {
	border-block-start: 1px solid transparent;
	border-block-end: 1px solid var(--color-border-dark);
	padding-block: 0.25em;
	font-size: calc(100% * var(--font-ratio-5));
	line-height: var(--line-height-narrow);

	& > * {
		vertical-align: middle;
	}

	& > h2 {
		display: inline;
	}
}

.p-entry-section2 {
	@nest .p-entry & {
		&:not(:first-child) {
			margin-block-start: calc(var(--stack-margin-base) * 2);
		}

		&:not(:last-child) {
			margin-block-end: calc(var(--stack-margin-base) * 2);
		}
	}
}

.p-entry-section2__hdg {
	--_stick-width: 0.25em;
	--_stick-height: 80%;

	position: relative; /* for Safari */
	contain: content;
	padding-inline-start: calc(var(--_stick-width) + 0.5em);
	font-size: calc(100% * var(--font-ratio-3));
	line-height: var(--line-height-narrow);

	&::before {
		display: inline-block;
		position: absolute;
		inset-block-start: calc((100% - var(--_stick-height)) / 2);
		inset-inline-start: 0;
		border-radius: var(--border-radius-full);
		background: var(--color-border-dark);
		width: var(--_stick-width);
		height: var(--_stick-height);
		content: "";
	}

	& > * {
		vertical-align: middle;
	}

	& > h3 {
		display: inline;
	}
}

/* ===== セクション終了 ===== */
.p-section-break {
	margin-inline: auto;
	border: 1px solid var(--color-lightgray);
	width: 15%;
	height: 0;

	@nest .p-entry & {
		&:not(:first-child) {
			margin-block-start: calc(var(--stack-margin-base) * 4);
		}

		&:not(:last-child) {
			margin-block-end: calc(var(--stack-margin-base) * 4);
		}
	}
}
