/* ==============================
 *   セクション
 * ============================== */

@keyframes section-target {
	0% {
		background-color: var(--color-verylightred);
	}

	50% {
		background-color: var(--color-verylightred);
	}

	100% {
		background-color: transparent;
	}
}

.p-section {
	--_margin-block: 1rem;

	&:not(:first-child) {
		:not(.p-section__hdg) + & {
			margin-block-start: var(--_margin-block);
		}
	}

	&:not(:last-child) {
		margin-block-end: var(--_margin-block);
	}

	&.-hdg-a {
		--_margin-block: 4.5rem;
	}

	&.-hdg-b {
		--_margin-block: 3.75rem;
	}

	&.-hdg-c {
		--_margin-block: 3rem;
	}

	&:target {
		animation: section-target 1s;
	}
}

.p-section__hdg {
	display: flex;
	gap: 0.5em;
	line-height: var(--line-height-narrow);

	.p-section.-hdg-a > & {
		border-block-start: 1px solid transparent;
		border-block-end: 1px solid var(--color-border-dark);
		padding-block: 0.25em;
		font-size: calc(100% * var(--font-ratio-6));

		&::before {
			transform: scaleY(75%);
			border: 0.125em solid var(--color-gray);
			border-radius: var(--border-radius-full);
			background: var(--color-gray); /* for Chrome */
			content: "";
		}

		& + * {
			margin-block-start: 2rem;
		}
	}

	.p-section.-hdg-b > & {
		font-size: calc(100% * var(--font-ratio-4));

		&::before {
			transform: scaleY(75%);
			border: 0.125em solid var(--color-lightgray);
			border-radius: var(--border-radius-full);
			background: var(--color-lightgray); /* for Chrome */
			content: "";
		}
	}

	.p-section.-hdg-c > & {
		font-size: calc(100% * var(--font-ratio-2));
	}
}
