/* ==============================
 *   記事投稿
 * ============================== */

/* ===== プレビュー ===== */
.p-post-preview {
	border: 1px solid var(--color-lightgray);
	max-block-size: 75vh;
	overflow-y: scroll;
	resize: vertical;
}

/* ===== 画像選択 ===== */
.p-post-select-image {
	position: relative; /* for Safari */
	contain: layout;
	inline-size: 240px;
	block-size: 240px;

	& img {
		display: block;
		position: absolute;
		inset: 0;
		border: 1px solid var(--color-black);
		background: var(--color-white);
		object-fit: contain;
	}

	& :checked + img {
		border-color: var(--color-red);
	}

	& :focus + img {
		outline: var(--outline-width-bold) solid var(--outline-color);
		outline-offset: -1px;
	}
}
