/* ==============================
 *   記事用セクション
 * ============================== */

@keyframes entry-section-target {
	0% {
		background-color: var(--color-verylightred);
	}

	50% {
		background-color: var(--color-verylightred);
	}

	100% {
		background-color: transparent;
	}
}

.p-entry-section {
	--_margin-block: var(--stack-margin-base);

	@nest .p-entry & {
		&:not(:first-child) {
			margin-block-start: var(--_margin-block);
		}

		&:not(:last-child) {
			margin-block-end: var(--_margin-block);
		}
	}

	&.-hdg1 {
		--_margin-block: calc(var(--stack-margin-base) * 4);

		@nest .p-entry .p-toc + & {
			margin-block-start: calc(var(--stack-margin-base) * 3);
		}
	}

	&.-hdg2 {
		--_margin-block: calc(var(--stack-margin-base) * 2);
	}

	&:target {
		animation: entry-section-target 1s;
	}
}

.p-entry-section__hdg {
	display: flex;
	gap: 0.5em;
	line-height: var(--line-height-narrow);

	@nest .p-entry-section.-hdg1 > & {
		border-block-start: 1px solid transparent;
		border-block-end: 1px solid var(--color-border-dark);
		padding-block: 0.25em;
		font-size: calc(100% * var(--font-ratio-5));
	}

	@nest .p-entry-section.-hdg2 > & {
		font-size: calc(100% * var(--font-ratio-3));

		&::before {
			transform: scaleY(80%);
			border: 0.125em solid var(--color-border-dark);
			border-radius: var(--border-radius-full);
			background: var(--color-border-dark); /* for Chrome */
			content: "";
		}
	}
}

.p-entry-section__self-link {
	display: flex;
	align-items: center;
}

/* ===== セクション終了 ===== */
.p-section-break {
	margin-inline: auto;
	border: 1px solid var(--color-lightgray);
	inline-size: 15%;
	block-size: 0;

	@nest .p-entry & {
		&:not(:first-child) {
			margin-block-start: calc(var(--stack-margin-base) * 4);
		}

		&:not(:last-child) {
			margin-block-end: calc(var(--stack-margin-base) * 4);
		}
	}
}
