/* ==============================
 *   リスト
 * ============================== */

/* ===== 通常リスト ===== */
.p-list {
	& > li {
		margin-inline-start: 1em;
		list-style-type: disc;
	}

	& > li + li {
		margin-block-start: 0.5em;
	}
}

/* ===== 番号リスト ===== */
.p-list-num {
	& > li {
		margin-inline-start: 1em;
		list-style: decimal;

		& + li {
			margin-block-start: 0.5em;
		}
	}
}

/* ===== 記述リスト ===== */
.p-list-description {
	& > dt {
		font-weight: var(--font-weight-bold);
	}

	& > dd + dt {
		margin-block-start: 0.5em;
	}

	& > dd {
		margin-inline-start: 1em;
	}
}

/* ===== 注釈リスト ===== */
.p-notes {
	color: var(--color-darkgray);

	& > li {
		margin-inline-start: 1.25em;
		list-style-type: "※ ";
		font-size: calc(100% / var(--font-ratio-1));

		& + li {
			margin-block-start: 0.75em;
		}
	}

	@nest .p-entry & {
		margin-inline: 1em;
		color: var(--color-note);
	}
}

/* ===== リンクリスト ===== */
.p-links {
	--_icon-clip-path: var(--shape-link-triangle);
	--_icon-height: 0.75em;
	--_icon-width: calc(var(--_icon-height) * 0.6);
	--_icon-color: var(--color-gray);
	--_icon-gap: 0.5em;

	line-height: var(--line-height-normal);

	& > li {
		margin-inline-start: calc((var(--_icon-width) + var(--_icon-gap)) * var(--font-ratio-2));

		& + li {
			margin-block-start: 1em;
		}

		& > a {
			margin-inline-start: calc(0px - var(--_icon-width) - var(--_icon-gap));
			font-size: calc(100% * var(--font-ratio-2));

			&::before {
				margin-inline-end: var(--_icon-gap);
				content: "";
				display: inline-block;
				clip-path: var(--_icon-clip-path);
				width: var(--_icon-width);
				height: var(--_icon-height);
				background: var(--_icon-color);
			}
		}

		& > :any-link {
			--_icon-color: var(--link-color-bullet);

			outline-offset: var(--outline-offset-linkonly);

			&:hover {
				--_icon-color: var(--link-color-hover);
			}
		}
	}
}

/* ===== 目次 ===== */
.p-toc {
	--_icon-width: 0.75em; /* アイコンの幅 */
	--_icon-height: calc(var(--_icon-width) * 0.75); /* アイコンの高さ */
	--_icon-color: var(--color-gray); /* アイコンの色 */
	--_icon-gap: 0.5em; /* アイコンと後続テキストの間隔 */

	padding: 1.25em min(1.25vw, 1.25em);
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-bg-superlight);
	line-height: var(--line-height-narrow);

	@nest .p-entry & {
		&:not(:first-child) {
			margin-block-start: calc(var(--stack-margin-base) * 3);
		}

		&:not(:last-child) {
			margin-block-end: calc(var(--stack-margin-base) * 3);
		}
	}

	& > li {
		margin-inline-start: calc(var(--_icon-width) + var(--_icon-gap));
		font-size: calc(100% * var(--font-ratio-1));

		& + li {
			margin-block-start: 0.75em;
		}

		& > :any-link {
			margin-inline-start: calc(0px - var(--_icon-width) - var(--_icon-gap));
			outline-offset: var(--outline-offset-linkonly);

			&::before {
				margin-inline-end: var(--_icon-gap);
				content: "";
				display: inline-block;
				clip-path: var(--shape-pagelink-triangle);
				width: var(--_icon-width);
				height: var(--_icon-height);
				background: var(--_icon-color);
			}

			&:hover {
				--_icon-color: var(--link-color-hover);
			}
		}
	}
}

/* ===== 脚注リスト ===== */
.p-footnotes {
	padding: 1em;
	border: 1px solid var(--color-bg-light);
	border-radius: var(--border-radius-large);
	box-sizing: border-box;
	display: table;
	width: 100%;
	background: var(--color-bg-light);
	font-size: calc(100% / var(--font-ratio-1));

	@nest .p-entry & {
		border-color: var(--color-bg-dark);

		&:last-child {
			margin-block-start: calc(var(--stack-margin-base) * 6);
		}
	}

	& > li {
		display: table-row;

		&:not(:first-child) {
			& > :is(.p-footnotes__no, .p-footnotes__text) {
				border-block-start: 0.5em solid transparent;
			}
		}
	}
}

.p-footnotes__no,
.p-footnotes__text {
	display: table-cell;
	vertical-align: top;
}

.p-footnotes__no {
	padding-inline-end: 0.25em;
	font-weight: var(--font-weight-bold);
	text-align: end;
	white-space: nowrap;

	& > a {
		padding: 0.25em;
		display: inline-block;
		text-decoration-skip-ink: none;
	}
}

.p-footnotes__text {
	padding: 0.25em;
	width: 100%;
}
