/* ==============================
 *   サイドバー
 * ============================== */

/* ===== プロフィール ===== */
.p-sidebar-profile {
	--heading-offset: -0.75em;

	padding: 0 10px 10px;
	border: 1px solid var(--color-border-dark);
	border-radius: 0.25em;
}

.p-sidebar-profile__hdg {
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--heading-offset);
	background: var(--page-bgcolor);
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

.p-sidebar-profile__info {
	display: flow-root;
	line-height: var(--line-height-narrow);
}

.p-sidebar-profile__address {
	font-weight: bold;
	line-height: var(--line-height-nowrap);
}

/* アバター */
.p-sidebar-profile__avatar {
	margin-right: 10px;
	float: left;

	@nest :any-link:hover & {
		box-shadow: 0 0 5px var(--color-gray);
	}
}

/* BIO */
.p-sidebar-profile__bio {
	margin-top: 0.5em;
	font-size: calc(1rem / var(--font-ratio-3));
	text-align: justify;
	overflow: hidden;
}

/* バナー */
.p-sidebar-profile__banners {
	margin-top: 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

/* ===== カテゴリータブ ===== */
.p-sidebar-category-tab {
}

.p-sidebar-category-tab__item {
	--padding-row: 0.6em;
	--border-color: var(--color-border-dark);
	--border-radius-top: 0px;
	--color: var(--color-black);
	--bg-color: var(--color-bg-verylight);
	--font-weight: inherit;

	padding: var(--padding-row) 0.2em;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-top) var(--border-radius-top) 0 0;
	flex: auto;
	color: var(--color);
	background: var(--bg-color);
	font-size: calc(1rem / var(--font-ratio-4));
	font-weight: var(--font-weight);
	line-height: var(--line-height-narrow);
	text-align: center;

	&[role="tab"] {
		cursor: default;
		outline-offset: 0;
	}

	&:not(:first-child) {
		margin-left: -1px;
	}

	&:focus-visible {
		--border-color: var(--focus-ring-color);

		z-index: 0;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover {
		--bg-color: var(--color-bg-light);
	}

	&[aria-selected="true"] {
		--padding-row: 0.8em;
		--border-radius-top: 0.25em;
		--bg-color: var(--color-white);
		--font-weight: bold;
	}
}

.p-sidebar-category-tab__panel {
	border: solid var(--color-border-dark);
	border-width: 0 1px 1px;
}

/* ===== 最近の記事 ===== */
.p-sidebar-newly-entry {
	--heading-offset: -0.75em;

	border: 1px solid var(--color-border-dark);
	border-radius: 0.25em 0.25em 0 0;
}

.p-sidebar-newly-entry__hdg {
	margin: 0 10px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--heading-offset);
	background: var(--page-bgcolor);
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

.p-sidebar-newly-entry__link {
	margin-top: var(--heading-offset);
}

/* ===== リンクリスト ===== */
.p-sidebar-links {
	& a {
		--padding-row: 0.5em;
		--padding-col: 0.5em;
		--bg-color: var(--color-bg-skyblue);
		--font-size: calc(1rem / var(--font-ratio-2));

		padding: var(--padding-row) var(--padding-col);
		display: flex;
		align-items: center;
		position: relative;
		font-size: var(--font-size);
		background: var(--bg-color);
		line-height: var(--line-height-narrow);
		outline-offset: 0;

		@media (--viewport-main-full) {
			--font-size: 1rem;
		}

		&:any-link {
			--bg-color: var(--color-white);
			--icon-color: var(--color-gray); /* アイコンの色 */
			--icon-width: 0.67em; /* アイコンの幅 */
			--icon-height: 1em; /* アイコンの高さ */
			--icon-gap: 0.75em; /* テキストとアイコンの間隔 */

			padding-right: calc(var(--icon-gap) + var(--icon-width) + var(--padding-col));
			text-decoration: none;

			&::after {
				content: "";
				clip-path: var(--shape-link-arrow);
				width: var(--icon-width);
				height: var(--icon-height);
				background: var(--icon-color);
				position: absolute;
				top: calc(50% - var(--icon-height) / 2);
				right: var(--padding-col);
			}

			&:focus,
			&:hover {
				--bg-color: var(--color-bg-lightyellow);
				--icon-color: var(--color-lightgray);
			}
		}
	}

	& > li {
		& + li {
			border-top: 1px dotted var(--color-border-dark);
		}

		/* 奇数行 */
		&:nth-child(2n + 1) {
			& a {
				&:any-link {
					--bg-color: var(--color-bg-verylight);

					&:focus,
					&:hover {
						--bg-color: var(--color-bg-lightyellow);
					}
				}
			}
		}
	}

	/* カテゴリー */
	&.-category {
		& a {
			--padding-row: 0.25em;
		}
	}

	/* 記事 */
	&.-entry {
		& a {
			min-height: 2em;
		}
	}
}

/* ===== Amazon 商品広告 ===== */
.p-sidebar-amazon {
	--heading-offset: -0.75em;

	padding: 0 10px 10px;
	border: 1px solid var(--color-border-dark);
	border-radius: 0.25em;
}

.p-sidebar-amazon__hdg {
	margin: 0 4px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--heading-offset);
	background: var(--page-bgcolor);
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

.p-sidebar-amazon__link {
	--gap-row: 10px;
	--gap-column: 10px;

	margin-top: calc(0.5em + var(--heading-offset));
	display: grid;
	gap: var(--gap-row) var(--gap-column);
	grid-template-columns: repeat(2, 1fr);

	@media (--viewport-main-full) {
		display: flex;
		flex-flow: wrap;

		& > li {
			max-width: 120px;
		}
	}
}

/* ===== Amazon 商品リンク ===== */
.p-sidebar-amazon-link {
	display: block;
	text-decoration: none;
	outline-offset: 0.125em;
}

/* 商品画像 */
.p-sidebar-amazon-link__image {
	display: block;
	width: 100%;
	height: auto;
	transition: box-shadow var(--link-hover-transition-delay);

	@nest :any-link:hover & {
		box-shadow: 0 0 3px 3px #f92;
	}
}

/* テキストエリア */
.p-sidebar-amazon-link__text {
	--color: hsl(0 0% 25%);
	--bg-color: hsl(30 100% 88%);

	margin-top: 1px;
	padding: 5px;
	border-radius: 0.5em;
	color: var(--color);
	background: var(--bg-color);
	line-height: var(--line-height-narrow);
	overflow-wrap: anywhere;
	transition: color var(--link-hover-transition-delay), background-color var(--link-hover-transition-delay);

	@nest :any-link:focus &, :any-link:hover & {
		--color: hsl(0 0% 20%);
		--bg-color: hsl(30 100% 80%);
	}
}

/* 商品タイトル */
.p-sidebar-amazon-link__title {
	font-size: calc(1rem / var(--font-ratio-3));

	&:not([hidden]) {
		display: block;
	}
}

/* 発売日 */
.p-sidebar-amazon-link__time {
	margin-top: 0.5em;
	font-size: calc(1rem / var(--font-ratio-5));
	font-weight: bold;

	&:not([hidden]) {
		display: block;
	}
}
