/* ==============================
 *   サイドバー
 * ============================== */

/* ===== プロフィール ===== */
.p-sidebar-profile {
	--_heading-offset: -0.75em;

	padding: 0 10px 10px;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
}

.p-sidebar-profile__hdg {
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--_heading-offset);
	background: var(--page-bg-color);
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

.p-sidebar-profile__info {
	display: flow-root;
	line-height: var(--line-height-narrow);
}

.p-sidebar-profile__address {
	font-weight: bold;
	line-height: var(--line-height-nowrap);
}

/* アバター */
.p-sidebar-profile__avatar {
	margin-right: 10px;
	float: left;

	@nest :any-link:hover & {
		box-shadow: 0 0 5px var(--color-lightgray);
	}
}

/* BIO */
.p-sidebar-profile__bio {
	margin-top: 0.5em;
	font-size: calc(100% / var(--font-ratio-1));
	text-align: justify;
	overflow: hidden;
}

/* バナー */
.p-sidebar-profile__banners {
	margin-top: 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	font-size: calc(100% / var(--font-ratio-1));
}

/* ===== カテゴリータブ ===== */
.p-sidebar-category-tab {
}

.p-sidebar-category-tab__item {
	--_padding-row: 0.6em;
	--_border-color: var(--color-border-dark);
	--_border-radius-top: 0px;
	--_color: var(--color-black);
	--_bg-color: var(--color-bg-verylight);
	--_font-weight: inherit;

	padding: var(--_padding-row) 0.2em;
	border: 1px solid var(--_border-color);
	border-radius: var(--_border-radius-top) var(--_border-radius-top) 0 0;
	flex: auto;
	color: var(--_color);
	background: var(--_bg-color);
	font-size: calc(100% / var(--font-ratio-2));
	font-weight: var(--_font-weight);
	line-height: var(--line-height-narrow);
	text-align: center;
	display: inline-block; /* JS 無効環境向け */
	white-space: nowrap; /* JS 無効環境向け */

	&[role="tab"] {
		cursor: default;
		outline-offset: 0;
	}

	&:not(:first-child) {
		margin-left: -1px;
	}

	&:focus-visible {
		--_border-color: var(--outline-color);

		z-index: 0;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover {
		--_bg-color: var(--color-bg-light);
	}

	&[aria-selected="true"] {
		--_padding-row: 0.8em;
		--_border-radius-top: 0.25em;
		--_bg-color: var(--color-white);
		--_font-weight: bold;
	}
}

.p-sidebar-category-tab__panel {
	border: solid var(--color-border-dark);
	border-width: 0 1px 1px;
}

/* ===== 最近の記事 ===== */
.p-sidebar-newly-entry {
	--_heading-offset: -0.75em;

	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
}

.p-sidebar-newly-entry__hdg {
	margin: 0 10px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--_heading-offset);
	background: var(--page-bg-color);
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

.p-sidebar-newly-entry__link {
	margin-top: var(--_heading-offset);
}

/* ===== リンクリスト ===== */
.p-sidebar-links {
	& a {
		--_padding-row: 0.5em;
		--_padding-col: 0.5em;
		--_bg-color: var(--color-bg-skyblue);
		--_font-size: calc(100% / var(--font-ratio-1));

		padding: var(--_padding-row) var(--_padding-col);
		display: flex;
		align-items: center;
		position: relative;
		font-size: var(--_font-size);
		background: var(--_bg-color);
		line-height: var(--line-height-narrow);
		outline-offset: 0;

		@media (--breakpoint) {
			--_font-size: 100%;
		}

		&:any-link {
			--_bg-color: var(--color-white);
			--_icon-color: var(--color-lightgray); /* アイコンの色 */
			--_icon-width: 0.67em; /* アイコンの幅 */
			--_icon-height: 1em; /* アイコンの高さ */
			--_icon-gap: 0.75em; /* テキストとアイコンの間隔 */

			padding-right: calc(var(--_icon-gap) + var(--_icon-width) + var(--_padding-col));
			text-decoration: none;

			&::after {
				content: "";
				clip-path: var(--shape-link-arrow);
				width: var(--_icon-width);
				height: var(--_icon-height);
				background: var(--_icon-color);
				position: absolute;
				top: calc(50% - var(--_icon-height) / 2);
				right: var(--_padding-col);
			}

			&:is(:focus, :hover) {
				--_bg-color: var(--color-bg-lightyellow);
				--_icon-color: var(--color-gray);
			}
		}
	}

	& > li {
		& + li {
			border-top: 1px dotted var(--color-border-dark);
		}

		/* 奇数行 */
		&:nth-child(2n + 1) {
			& a {
				&:any-link {
					--_bg-color: var(--color-bg-verylight);

					&:is(:focus, :hover) {
						--_bg-color: var(--color-bg-lightyellow);
					}
				}
			}
		}
	}

	/* カテゴリー */
	&.-category {
		& a {
			--_padding-row: 0.25em;
		}
	}

	/* 記事 */
	&.-entry {
		& a {
			min-height: 2em;
		}
	}
}

.p-sidebar-links__icon {
	margin-left: 1em;
}

/* ===== Amazon 商品広告 ===== */
.p-sidebar-amazon {
	--_heading-offset: -0.75em;

	padding: 0 10px 10px;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
}

.p-sidebar-amazon__hdg {
	margin: 0 4px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: var(--_heading-offset);
	background: var(--page-bg-color);
	font-weight: bold;
	line-height: var(--line-height-narrow);
}

.p-sidebar-amazon__link {
	--_gap-row: 10px;
	--_gap-column: 10px;

	margin-top: calc(0.5em + var(--_heading-offset));
	display: grid;
	gap: var(--_gap-row) var(--_gap-column);
	grid-template-columns: repeat(2, 1fr);

	@media (--breakpoint) {
		display: flex;
		flex-flow: wrap;

		& > li {
			max-width: 120px;
		}
	}
}

/* ===== Amazon 商品リンク ===== */
.p-sidebar-amazon-link {
	display: block;
	text-decoration: none;
	outline-offset: 0.125em;
}

/* 画像エリア */
.p-sidebar-amazon-link__thumb {
}

/* 商品画像 */
.p-sidebar-amazon-link__image {
	display: block;
	width: 100%;
	height: auto;
	transition: box-shadow var(--link-hover-transition-delay);

	@nest :any-link:hover & {
		box-shadow: 0 0 3px 3px var(--color-amazon-box-shadow-hover);
	}
}

/* テキストエリア */
.p-sidebar-amazon-link__text {
	--_color: var(--color-darkgray);
	--_bg-color: var(--color-amazon-bg);

	margin-top: 1px;
	padding: 5px;
	border-radius: var(--border-radius-large);
	color: var(--_color);
	background: var(--_bg-color);
	line-height: var(--line-height-narrow);
	overflow-wrap: anywhere;
	transition: color var(--link-hover-transition-delay), background-color var(--link-hover-transition-delay);

	@nest :any-link:hover & {
		--_bg-color: var(--color-amazon-bg-hover);
	}
}

/* 商品タイトル */
.p-sidebar-amazon-link__title {
	font-size: calc(100% / var(--font-ratio-1));

	&:not([hidden]) {
		display: block;
	}
}

/* 発売日 */
.p-sidebar-amazon-link__date {
	margin-top: 0.5em;
	font-size: calc(100% / var(--font-ratio-2));
	font-weight: bold;

	&:not([hidden]) {
		display: block;
	}
}
