/* ==============================
 *   サイドバー
 * ============================== */

/* ===== プロフィール ===== */
.p-sidebar-profile {
	margin-top: 0.8em;
	padding: 0 10px 10px;
	border: 1px solid #999;
	border-radius: 0.3em;
}

.p-sidebar-profile__hdg {
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: -0.8em;
	background: var(--page-bgcolor);
	font-weight: bold;
}

.p-sidebar-profile__info {
	display: flow-root;
	line-height: var(--line-height--narrow);
}

.p-sidebar-profile__address {
	font-weight: bold;
}

/* アバター */
.p-sidebar-profile__avatar {
	margin-right: 0.5em;
	float: left;
	transition: box-shadow var(--anchor-hover-transition-delay);

	@nest :any-link:hover & {
		box-shadow: 0 0 5px #999;
	}
}

/* BIO */
.p-sidebar-profile__bio {
	margin-top: 0.5em;
	font-size: calc(1rem / var(--font-ratio-3));
	text-align: justify;
	overflow: hidden;
}

/* バナー */
.p-sidebar-profile__banner {
	margin-top: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}

.p-sidebar-profile__banner-link {
	--color: #333;
	--background: #fff;
	--border-color: #333;

	padding: 0.6em 1px;
	border: 1px solid var(--border-color);
	border-radius: 0.25em;
	display: flex;
	justify-content: center;
	color: var(--color);
	background: var(--background);
	font-size: calc(1rem / var(--font-ratio-2));
	font-weight: bold;
	line-height: var(--line-height--narrow);
	text-align: center;
	text-decoration: none;

	&:any-link {
		&:hover {
			box-shadow: 0 0 1px 1px #ccc;
		}
	}

	/* バナー・Twitter */
	&.-twitter {
		--color: #fff;
		--background: #1da1f2;
		--border-color: #2293dd;
	}

	/* バナー・GitHub */
	&.-github {
	}

	/* バナー・Amazon */
	&.-amazon {
		--background: linear-gradient(#ffe8ab, #f5c747);
		--border-color: #c2a24e;
	}

	/* バナー・YouTube */
	&.-youtube {
		--color: #c22;
		--background: linear-gradient(#fff, #fee);
		--border-color: #f33;
	}
}

.p-sidebar-profile__banner-icon {
	margin-right: 0.5em;
	height: 1.25em;
	width: auto;
}

/* ===== 日記カテゴリ別記事リスト ===== */
.p-sidebar-categories {
	margin-top: 1.2em;
}

.p-sidebar-categories__tab {
}

.p-sidebar-categories__tab-item {
	padding: 0.6em 0.2em;
	border: 1px solid #999;
	flex: auto;
	color: #000;
	background: #f8f8f8;
	font-size: calc(1rem / var(--font-ratio-4));
	line-height: var(--line-height--narrow);
	text-align: center;
	display: inline-block; /* Shadow DOM v1 未対応環境 */
	text-decoration: none; /* Shadow DOM v1 未対応環境 */

	&[role="tab"] {
		cursor: default;
	}

	&:not(:first-child) {
		margin-left: -1px;
	}

	&:focus {
		z-index: 0;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:hover {
		color: inherit; /* Shadow DOM v1 未対応環境 */
		background-color: #eee;
	}

	&[aria-selected="true"] {
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		border-radius: 0.5em 0.5em 0 0;
		font-weight: bold;
		background-color: #fff;
	}
}

/* ===== 日記記事リスト ===== */
.p-sidebar-categories__topics-list {
	border: solid #999;
	border-width: 0 1px 1px;
	font-size: calc(1rem / var(--font-ratio-2));
	line-height: var(--line-height--narrow);

	@media (--viewport-main-full) {
		font-size: 1rem;
	}

	& > li {
		& + li {
			border-top: 1px dotted #999;
		}

		& > a {
			--background: #dff;

			padding: 0.4em 0.5em;
			display: block;
			position: relative;
			background: var(--background);
			outline-offset: 0;

			&:any-link {
				--background: #fff;
				--icon-color: #999; /* アイコンの色 */
				--icon-width: 0.67em; /* アイコンの幅 */
				--icon-height: 1em; /* アイコンの高さ */
				--icon-padding: 0.5em; /* アイコンとテキスト枠の間隔 */
				--icon-gap: 0.75em; /* テキストとアイコンの間隔 */

				padding-right: calc(var(--icon-gap) + var(--icon-width) + var(--icon-padding));
				text-decoration: none;

				&::after {
					content: "";
					clip-path: var(--shape-link-arrow);
					width: var(--icon-width);
					height: var(--icon-height);
					background: var(--icon-color);
					position: absolute;
					top: calc(50% - var(--icon-height) / 2);
					right: var(--icon-padding);
				}

				&:focus,
				&:hover {
					--background: #ffc;
					--icon-color: #666;
				}
			}
		}

		/* 奇数行 */
		&:nth-child(2n + 1) {
			& a:any-link {
				--background: #f8f8f8;

				&:focus,
				&:hover {
					--background: #ffc;
				}
			}
		}
	}
}

/* 件数 */
.p-sidebar-categories__topic-count {
	margin-left: 1em;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	display: inline-block;
	color: #026;
	background: #cde;
	font-size: calc(1rem / var(--font-ratio-10));
	line-height: 1;
	white-space: nowrap;
}

/* 件数の数字 */
.p-sidebar-categories__topic-num {
	font-size: calc(1rem / var(--font-ratio-4));
	font-weight: bold;
}

/* ===== 日記記事リスト ===== */
.p-sidebar-topics {
	margin-top: 1.8em;
	border: 1px solid #999;
	border-radius: 0.3em 0.3em 0 0;
}

.p-sidebar-topics__hdg {
	margin-left: 10px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: -0.8em;
	background: var(--page-bgcolor);
	font-weight: bold;
}

.p-sidebar-topics__list {
	margin-top: -0.8em;
	font-size: calc(1rem / var(--font-ratio-2));
	line-height: var(--line-height--narrow);

	@media (--viewport-main-full) {
		font-size: 1rem;
	}

	& > li {
		& + li {
			border-top: 1px dotted #999;
		}

		& a {
			--background: #dff;

			padding: 0.5em;
			display: flex;
			align-items: center;
			position: relative;
			min-height: 2em;
			background: var(--background);
			outline-offset: 0;

			&:any-link {
				--background: #fff;
				--icon-color: #999; /* アイコンの色 */
				--icon-width: 0.67em; /* アイコンの幅 */
				--icon-height: 1em; /* アイコンの高さ */
				--icon-padding: 0.5em; /* アイコンとテキスト枠の間隔 */
				--icon-gap: 0.75em; /* テキストとアイコンの間隔 */

				padding-right: calc(var(--icon-gap) + var(--icon-width) + var(--icon-padding));
				text-decoration: none;

				&::after {
					content: "";
					clip-path: var(--shape-link-arrow);
					width: var(--icon-width);
					height: var(--icon-height);
					background: var(--icon-color);
					position: absolute;
					top: calc(50% - var(--icon-height) / 2);
					right: var(--icon-padding);
				}

				&:focus,
				&:hover {
					--background: #ffc;
					--icon-color: #666;
				}
			}
		}

		/* 奇数行 */
		&:nth-child(2n + 1) {
			& a:any-link {
				--background: #f8f8f8;

				&:focus,
				&:hover {
					--background: #ffc;
				}
			}
		}
	}
}

/* ===== Amazon商品広告 ===== */
.p-sidebar-amazon {
	margin-top: 1.8em;
	padding: 0 6px 12px;
	border: 1px solid #999;
	border-radius: 0.3em;

	& a {
		display: block;
		text-decoration: none;
		outline-offset: 2px;
	}
}

.p-sidebar-amazon__hdg {
	margin-left: 10px;
	padding: 0 0.5em;
	display: inline-block;
	position: relative;
	top: -0.8em;
	background: var(--page-bgcolor);
	font-weight: bold;
}

.p-sidebar-amazon__list {
	--gap-row: 10px;
	--gap-column: 6px;

	margin: -0.5em 0 0;
	display: grid;
	gap: var(--gap-row) var(--gap-column);
	grid-template-columns: repeat(2, 1fr);

	@media (--viewport-main-full) {
		margin-right: calc(0 - var(--gap-column));
		margin-bottom: calc(0 - var(--gap-row));
		display: flex;
		flex-flow: wrap;

		& > li {
			margin: 0 var(--gap-column) var(--gap-row) 0;
			max-width: 130px;
		}
	}
}

/* 画像エリア */
.p-sidebar-amazon__image-area {
}

/* 商品画像 */
.p-sidebar-amazon__image {
	margin: auto;
	display: block;
	max-width: 100%;
	height: auto;
	transition: box-shadow var(--anchor-hover-transition-delay);

	@nest :any-link:hover & {
		box-shadow: 0 0 3px 3px #f92;
	}
}

/* テキストエリア */
.p-sidebar-amazon__text-area {
	margin-top: 1px;
	padding: 5px;
	border-radius: 0.5em;
	box-sizing: border-box;
	color: #444;
	background: #fdb;
	line-height: var(--line-height--narrow);
	overflow-wrap: anywhere;
	transition: color var(--anchor-hover-transition-delay), background-color var(--anchor-hover-transition-delay);

	@nest :any-link:focus &, :any-link:hover & {
		color: #333;
		background-color: #ffca95; /* darken(#fdb, 7.5%) */
	}
}

/* 商品タイトル */
.p-sidebar-amazon__title {
	font-size: calc(1rem / var(--font-ratio-3));
}

/* 商品カテゴリ */
.p-sidebar-amazon__binding {
	margin: 0.1em 0 0 0.2em;
	padding: 0.1em 0.4em 0;
	border: 1px solid;
	border-radius: 0.5em;
	display: inline-block;
	color: #555;
	background: #fff;
	font-weight: bold;

	/* BD */
	&.-bd {
		border-color: #27b;
		color: #27b;
		background-color: #f9f9ff;
	}

	/* Kindle */
	&.-kindle {
		border-color: #000;
		color: #f90;
		background-color: #000;
	}
}

/* 発売日 */
.p-sidebar-amazon__time {
	margin-top: 1em;
	font-size: calc(1rem / var(--font-ratio-5));
	font-weight: bold;
}

/* 発売予定の場合の「予定」文字部分 */
.p-sidebar-amazon__time-plan {
	color: #c00;
	white-space: nowrap;

	@nest :any-link:focus &, :any-link:hover & {
		color: #b00;
	}
}
