/** ==============================
 *   埋め込みコンテンツ
 * ============================== */

/* リンクアイコン */
.c-link-icon {
	margin-inline: 0.25em;
	block-size: 1em;
	inline-size: auto;
	vertical-align: -0.1em;
}
