/** ==============================
 *   サイト内検索
 * ============================== */

/* ===== サイト内検索 ===== */
.c-search {
	--_border-color: var(--color-lightgray);

	display: block flex;
	align-items: center;
	outline-offset: -1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-small);
	background: var(--color-white);
	color: var(--color-darkgray);

	&:focus-within {
		outline: var(--outline-width-bold) solid var(--outline-color);
	}

	&:hover {
		--_border-color: var(--outline-color);
	}
}

/* <input type="hidden"> */
.c-search__hidden {
}

/* キーワード入力欄 */
.c-search__query {
	flex: 1;

	& > input {
		all: initial;
		box-sizing: border-box;
		display: block flow;
		padding: 0.25em;
		inline-size: 100%;
		font: inherit;
	}
}

/* 送信ボタン */
.c-search__submit {
	& > button {
		--_color: hsl(220deg 70% 45%);

		all: initial;
		box-sizing: border-box;
		display: block flow;
		margin: var(--outline-width-bold);
		padding: 0.25em;
		block-size: 2em;
		inline-size: 2em;
		color: var(--_color);
		font: inherit;
		fill: currentColor; /* SVG */

		&:focus-visible {
			outline: var(--outline-width-bold) dotted var(--color-black);
		}

		&:hover {
			--_color: hsl(220deg 70% 55%);
		}

		&:focus:not(:focus-visible) {
			--_color: hsl(220deg 70% 35%);
		}

		& > svg {
			block-size: 100%;
			inline-size: 100%;
		} /* for Chrome */
	}
}
