/* ==============================
 *   グルーピングコンテンツ
 * ============================== */

/* ===== 記事リンク ===== */
.c-entry-link {
	--_gap: 15px;
	--_title-font-expand-ratio: 1;
	--_bullet-inline-size: 0.45em;
	--_bullet-block-size: 0.75em;
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;
	--_image-border-width: 1px;
	/* stylelint-disable-next-line plugin/use-logical-units */
	--_image-width: min(180px, 30dvw);
	--_image-height: 120px;
	--_padding-inline-start: calc(var(--_image-width) + var(--_image-border-width) * 2 + var(--_gap) + var(--_bullet-inline-size) + var(--_bullet-gap));
	--_padding-inline-end: 0;

	contain: layout;
	padding-inline: var(--_padding-inline-start) var(--_padding-inline-end);
	/* stylelint-disable-next-line plugin/use-logical-properties-and-values */
	min-height: calc(var(--_image-height) + var(--_image-border-width) * 2);
	line-height: var(--line-height-narrow);
	font-size: calc(100% * var(--_title-font-expand-ratio));

	.p-title-list & {
		--_gap: 25px;
		--_title-font-expand-ratio: pow(var(--font-ratio), 3);
	}

	*:has(> &) {
		container-type: inline-size;
	}

	& > :any-link {
		outline: none;
	}
}

.c-entry-link__title {
	margin-inline-start: calc(0px - var(--_bullet-inline-size) - var(--_bullet-gap));

	:focus & {
		outline: var(--outline-width) solid var(--outline-color);
		outline-offset: var(--outline-offset-linkonly);
	}

	:any-link:hover & {
		--_bullet-color: var(--link-color-hover);
	}

	&::before {
		display: inline flow-root;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: var(--_bullet-gap);
		border-block-start: var(--_bullet-block-size) solid var(--_bullet-color);
		inline-size: var(--_bullet-inline-size);
		content: "";
	}
}

.c-entry-link__thumb {
	--_inset-inline: 0 auto;

	display: inline flex;
	position: absolute;
	inset-block-start: 0;
	inset-inline: var(--_inset-inline);
	justify-content: center;
	/* stylelint-disable-next-line plugin/use-logical-properties-and-values */
	width: calc(var(--_image-width) + var(--_image-border-width) * 2);
	pointer-events: none;
}

.c-entry-link__image {
	border: var(--_image-border-width) solid;
	background: var(--color-white);
	/* stylelint-disable plugin/use-logical-properties-and-values */
	max-width: var(--_image-width);
	height: auto;
	max-height: var(--_image-height);
	/* stylelint-enable plugin/use-logical-properties-and-values */
	color: var(--color-black);
	pointer-events: auto;

	:focus & {
		outline: var(--outline-width-bold) solid var(--outline-color);
		outline-offset: -1px;
	}

	:any-link:hover & {
		box-shadow: 0 0 5px var(--color-border-dark);
	}
}

.c-entry-link__date {
	margin-block-start: 0.5em;
	font-size: calc(100% / var(--_title-font-expand-ratio));
}

@container (inline-size <= 40em) {
	.c-entry-link {
		--_padding-inline-start: calc(var(--_bullet-inline-size) + var(--_bullet-gap));
	}
}

@container (20em < inline-size <= 40em) {
	.c-entry-link {
		--_padding-inline-end: calc(var(--_image-width) + var(--_image-border-width) * 2 + var(--_gap));
	}

	.c-entry-link__thumb {
		--_inset-inline: auto 0;
	}
}

@container (20em < inline-size <= 22em) {
	.c-entry-link__date {
		margin-inline-start: calc(0px - var(--_bullet-inline-size) - var(--_bullet-gap));
	}
}

@container (inline-size <= 20em) {
	.c-entry-link__thumb {
		display: inline flow;
		position: static;

		&::before {
			display: block flow;
			block-size: 0.5em;
			content: "";
		}
	}
}

/* ===== キャプション ===== */
.c-caption {
	display: block flex;
	flex-wrap: wrap;
	gap: 0.5em 1.5em;
	inline-size: fit-content;
	line-height: var(--line-height-narrow);
	color: var(--color-gray);
	font-size: calc(100% / pow(var(--font-ratio), 1));
	font-weight: var(--font-weight-bold);

	.p-embed + & {
		max-inline-size: calc(var(--entry-image-width) + var(--entry-embed-border-width) * 2);
	}

	:is(figure)/* is() は PostCSS のビルドの都合 */ > &:first-child {
		margin-block-end: 0.5em;
	}

	:is(figure)/* is() は PostCSS のビルドの都合 */ > &:last-child {
		margin-block-start: 0.5em;
	}

	/* メタデータ */
	&.-meta {
		margin-inline-start: auto;
		padding-inline-start: 10%;
	}
}

/* キャプションテキスト */
.c-caption__text {
}

/* 画像拡大アイコン */
.c-caption__media-expansion {
	--_image-size: 0.8lh;

	display: block flex;
	column-gap: 0.25em;

	& > img {
		position: relative;
		transition-duration: 0.05s;
		transition-property: margin, block-size;
		margin: calc((1lh - var(--_image-size)) / 2);
		block-size: var(--_image-size);
		inline-size: auto;
	}

	&:hover {
		--_image-size: 0.9lh;
	}
}
