/*
レイアウト

Styleguide 1.5.
*/

/* ===== Stack ===== */
:is(.l-content__header, .l-content__body, .l-content__footer, .c-stack, .p-section, .p-quote, .p-box) {
	& > * + * {
		margin-block-start: var(--stack-margin-base);
	}
}

.p-entry__header {
	& > * + * {
		margin-block-start: calc(var(--stack-margin-base) / 2);
	}
}

:is(.p-entry__body, .p-entry-section, .p-entry__footer) {
	& > * + * {
		margin-block-start: calc(var(--stack-margin-base) * 1.5);
	}
}

/* ===== グリッド ===== */
.c-grid {
	--_gap-row: 1em;
	--_gap-col: 50px;
	--_max-inline-size: auto;

	display: block grid;
	grid-template-columns: repeat(auto-fill, minmax(min(var(--_max-inline-size), 100%), 1fr));
	gap: var(--_gap-row) var(--_gap-col);

	/* 2カラム */
	&.-wide {
		--_max-inline-size: 330px;
	}

	/* 3カラム */
	&.-medium {
		--_max-inline-size: 240px;
	}

	/* 4カラム */
	&.-narrow {
		--_max-inline-size: 180px;
	}
}

.c-grid__item {
	container-type: inline-size;
}

/* ===== フレックスボックス ===== */
.c-flex {
	--_gap-row: 1em;
	--_gap-col: 50px;

	display: block flex;
	flex-wrap: wrap;
	gap: var(--_gap-row) var(--_gap-col);

	&.-buttons {
		--_gap-row: 25px;
		--_gap-col: 25px;

		.p-entry & {
			--_gap-row: 15px;
		}
	}
}

.c-flex__item {
}
