/** ==============================
 *   テキスト
 * ============================== */

/* ===== セルフリンク <a href="#foo">§</a> ===== */
.c-self-link {
	display: inline flex;
	justify-content: center;
	outline-width: var(--outline-width-bold);
	min-inline-size: var(--self-link-size);
	text-decoration: none;
	font-family: var(--font-yu-gothic);
}

/* ===== ボタン ===== */
.c-button {
	--_padding-block: 0.5em;
	--_padding-inline: 0.75em;
	--_border-color: var(--color-border-dark);
	--_inline-size: auto;
	--_color: var(--color-black);
	--_background: var(--color-white);
	--_icon-size: 1.25em;

	display: inline flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	outline-offset: -1px;
	outline-width: var(--outline-width-bold);
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_background);
	padding: var(--_padding-block) var(--_padding-inline);
	inline-size: var(--_inline-size);
	text-decoration: none;
	line-height: var(--line-height-narrow);
	color: var(--_color);
	font-weight: var(--font-weight-bold);

	:is(button[type="button" i]&):focus:not(:focus-visible) {
		outline: none;
	}

	.p-entry-footer-action & {
		font-size: calc(100% * pow(var(--font-ratio), 1));
	}

	&:disabled {
		display: none;
	}

	&:hover {
		box-shadow: 0 0 2px var(--_border-color);
		color: var(--_color);
	}

	/* Feed */
	&.-feed {
		--_border-color: hsl(41deg 100% 53%);
		--_color: var(--color-darkgray);
		--_background: hsl(41deg 100% 93%);
	}

	/* GitHub */
	&.-github {
		--_border-color: var(--color-black);
		--_background: var(--color-white);
	}
}

.c-button__icon {
	block-size: var(--_icon-size);
	inline-size: var(--_icon-size);
}

/* ===== 脚注リンク ===== */
.c-footnote-ref {
	vertical-align: super;
	font-size: calc(100% / pow(var(--font-ratio), 2));

	& > a {
		--_border-color: transparent;
		--_bg-color: transparent;

		border: 1px solid var(--_border-color);
		background: var(--_bg-color);
		padding: 0.25em;
		text-decoration-skip-ink: none; /* JS 無効環境向け */

		&:target {
			--_border-color: var(--color-red);
			--_bg-color: var(--color-verylightred);
		}

		&[role="button" i] {
			/* JS 有効時のみ */
			outline-offset: calc(0px - var(--outline-width));
			cursor: default;
			text-decoration: none;
			color: var(--link-color);

			&:focus:not(:focus-visible) {
				outline: none;
			}
		}
	}
}

/* ===== ドメイン表記 ===== */
.c-domain {
	--_font-size-ratio: calc(1 / pow(var(--font-ratio), 1));

	word-break: break-all;
	color: var(--color-gray);
	font-size: calc(100% * var(--_font-size-ratio));

	&::before,
	&::after {
		content: " ";
	}

	& > img {
		block-size: calc(1em / var(--_font-size-ratio));
		inline-size: auto;
		vertical-align: calc((1cap - 1em) / 2);
	}
}

/* ===== 記事メタデータ ===== */
.c-entry-meta {
	display: block grid;
	grid-template-columns: max-content max-content 1fr;
	gap: 0.125em 0.25em;
	line-height: var(--line-height-narrow);

	& > * {
		display: contents;
	}
}

.c-entry-meta__name {
}

.c-entry-meta__separator {
}

.c-entry-meta__value {
}

/* ===== 記事件数 ===== */
.c-entry-count {
	display: inline flow-root;
	border: 1px solid var(--color-powderblue);
	border-radius: var(--border-radius-large);
	background: var(--color-powderblue);
	padding: 0.15em 0.45em;
	line-height: var(--line-height-nowrap);
	text-wrap-mode: nowrap;
	color: var(--color-darkblue);
	font-size: calc(100% / pow(var(--font-ratio), 4));
}

/* 件数の数字部分 */
.c-entry-count__num {
	font-size: calc(100% * pow(var(--font-ratio), 3));
}

/* ===== コードハイライト https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css ===== */
/* stylelint-disable selector-class-pattern */
.hljs-doctag,
.hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #005cc5;
}

.hljs-regexp,
.hljs-string {
	/* prettylights-syntax-string */
	color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
	/* prettylights-syntax-comment */
	color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #22863a;
}

.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #24292e;
}

.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #005cc5;
	font-weight: var(--font-weight-bold);
}

.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #735c0f;
}

.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #24292e;
	font-style: italic;
}

.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #24292e;
	font-weight: var(--font-weight-bold);
}

.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	background-color: #f0fff4;
	color: #22863a;
}

.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	background-color: #ffeef0;
	color: #b31d28;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
	/* purposely ignored */
}
/* stylelint-enable selector-class-pattern */
