/** ==============================
 *   ページレイアウト共通
 * ============================== */

.l-page {
	display: block grid;
}

/* ===== ページヘッダー ===== */
.l-header {
	display: block grid;
	grid-template-columns:
		[full-start] var(--page-margin-inline) var(--page-padding-inline) [content-start] 1fr [content-end] var(--page-padding-inline) var(--page-margin-inline)
		[full-end];
	grid-column: header;
	container: header / inline-size;
	padding: 10px 0 40px;
	line-height: var(--line-height-narrow);
}

/* ヘッダーメイン */
.l-header__main {
	display: block grid;
	grid-template-areas: "site utility";
	grid-column: content;
	gap: 20px;
	align-items: flex-end;

	@container header (inline-size <= 54em) {
		grid-template-areas:
			"site   "
			"utility";
	}
}

/* サイトロゴ */
.l-header__site {
	grid-column: site;
}

/* ユーティリティー */
.l-header__utility {
	--_justify-content: flex-end;

	display: block flex;
	flex-wrap: wrap;
	grid-column: utility;
	gap: 10px 20px;
	align-items: flex-end;
	justify-content: var(--_justify-content);

	@container header (inline-size <= 36em) {
		--_justify-content: flex-start;
	}
}

/* フィードリンク */
.l-header__feed {
}

/* サイト内検索 */
.l-header__search {
	inline-size: min(16em, 100%);
}

/* ===== コンテンツエリア ===== */
.l-content {
	grid-column: content;
	container: content / inline-size;

	@media screen and (--breakpoint) {
		/* 印刷時は _page-reader.css にて grid-template-areas を変更しているため、スクリーン時のみ適用されるようにする */
		grid-column: padding-left / padding-right;
	}

	/* サイドバーがない場合は全幅で表示 */
	&.-nosidebar {
		grid-column: content / sidebar;
	}
}

.l-content__header {
}

.l-content__body {
	.l-content__header + & {
		margin-block-start: 80px;
	}
}

.l-content__footer {
	margin-block-start: 120px;
}

/* ===== サイドバー ===== */
.l-sidebar {
	grid-column: sidebar;
	container: sidebar / inline-size;
	line-height: var(--line-height-narrow);

	& > [class^="p-sidebar-"]:not([hidden]) {
		& + [class^="p-sidebar-"] {
			margin-block-start: 3em;
		}
	}
}

/* ===== 宣伝 ===== */
.l-cm {
	grid-column: cm;
	container: cm / inline-size;
	margin-block-start: 100px;
}

/* ===== ページフッター ===== */
.l-footer {
	display: block grid;
	grid-template-columns:
		[full-start] var(--page-margin-inline) var(--page-padding-inline) [content-start] 1fr [content-end] var(--page-padding-inline) var(--page-margin-inline)
		[full-end];
	grid-column: footer;
	container: footer / inline-size;
	margin-block-start: 80px;
	border: solid var(--color-border-light);
	border-width: 1px 0;
	background: var(--color-bg-superlight);
	padding: 50px 0;
	line-height: var(--line-height-narrow);
}

/* サイトナビゲーション */
.l-footer__nav {
	grid-column: content;
	container: footer-nav / inline-size;
}

/* ソーシャルメディア */
.l-footer__social {
	grid-column: content;
	container: footer-social / inline-size;
	margin-block-start: 2em;
}

/* アドセンス */
.l-footer__ads {
	grid-column: content;
	container: footer-ads / inline-size;
	margin-block-start: 8em;
}
