/** ==============================
 *   通常表示
 * ============================== */
.l-page {
	grid-template-areas:
		"header      header       header  header              header  header        header      "
		"margin-left padding-left content gap-content-sidebar sidebar padding-right margin-right"
		"margin-left padding-left cm      cm                  cm      padding-right margin-right"
		"footer      footer       footer  footer              footer  footer        footer      ";
	grid-template-columns:
		var(--page-margin-inline) var(--page-padding-inline) 1fr var(--page-content-sidebar-gap) var(--page-sidebar-width) var(--page-padding-inline)
		var(--page-margin-inline);
}

@media (--breakpoint) {
	.l-page {
		grid-template-areas:
			"header       header  header       "
			"padding-left content padding-right"
			"padding-left sidebar padding-right"
			"padding-left cm      padding-right"
			"footer       footer  footer       ";
		grid-template-columns: var(--page-padding-inline) 1fr var(--page-padding-inline);
	}

	.l-sidebar {
		margin-block-start: 80px;
	}
}
