/* ==============================
 *   記事本体
 * ============================== */

@keyframes entry-section-target {
	0% {
		background-color: var(--color-verylightred);
	}

	50% {
		background-color: var(--color-verylightred);
	}

	100% {
		background-color: transparent;
	}
}

.p-entry__body {
	padding: 30px var(--_entry-padding-block);
}

.p-entry-section {
	--_margin-block: var(--stack-margin-base);

	.p-entry & {
		&:not(:first-child) {
			margin-block-start: var(--_margin-block);
		}

		&:not(:last-child) {
			margin-block-end: var(--_margin-block);
		}
	}

	&.-hdg1 {
		--_margin-block: calc(var(--stack-margin-base) * 4);

		.p-entry .p-toc + & {
			margin-block-start: calc(var(--stack-margin-base) * 3);
		}
	}

	&.-hdg2 {
		--_margin-block: calc(var(--stack-margin-base) * 2);
	}

	&:target {
		animation: entry-section-target 1s;
	}

	& > hgroup {
		display: block flex;
		gap: 0.5em;
		line-height: var(--line-height-narrow);

		.p-entry-section.-hdg1 > & {
			border-block-start: 1px solid transparent;
			border-block-end: 1px solid var(--color-border-dark);
			padding-block: 0.25em;
			font-size: calc(100% * var(--font-ratio-5));
		}

		.p-entry-section.-hdg2 > & {
			font-size: calc(100% * var(--font-ratio-3));

			&::before {
				transform: scaleY(80%);
				border: 0.125em solid var(--color-border-dark);
				border-radius: var(--border-radius-full);
				background: var(--color-border-dark); /* for Chrome */
				content: "";
			}
		}
	}
}

.p-entry-section__self-link {
	display: block flex;
	align-items: center;
}

/* ===== セクション終了 ===== */
.p-section-break {
	margin-inline: auto;
	border-block-start: 2px solid;
	border-image: linear-gradient(to right, transparent 0%, var(--color-lightgray) 50%, transparent 100%) 1 / 1px;
	inline-size: min(30em, 100%);
	block-size: 0;

	.p-entry & {
		&:not(:first-child) {
			margin-block-start: calc(var(--stack-margin-base) * 4);
		}

		&:not(:last-child) {
			margin-block-end: calc(var(--stack-margin-base) * 4);
		}
	}
}
