/** ==============================
 *   記事本文
 * ============================== */

.p-entry {
	--_entry-padding-block: 0;

	font-family: arial, sans-serif;

	@media not print {
		--_entry-padding-block: 3%; /* 左右の余白 */

		box-shadow: 0 0 3px var(--color-border-light);
		background-color: var(--color-bg-ultralight);
		color: var(--color-darkgray);
	}
}
