/** ==============================
 *   記事フッター
 * ============================== */

.p-entry__footer {
	padding: 30px var(--_entry-padding-block);
}

/* カテゴリー */
.p-entry-footer-category {
	--_tag-border-width: 1px;
	--_tag-pading-row: 0.75em;
	--_tag-pading-col: 0.5em;

	display: block flex;
	column-gap: 0.5em;
	justify-content: flex-end;
	line-height: var(--line-height-nowrap);
}

.p-entry-footer-category__hdg {
	padding-block: calc(var(--_tag-border-width) + var(--_tag-pading-row));
	text-wrap-mode: nowrap;
}

.p-entry-footer-category__list {
	display: block flex;
	flex-flow: wrap;
	gap: 0.5em;

	& a {
		display: inline flow-root;
		outline-offset: calc(0px - var(--_tag-border-width));
		outline-width: var(--outline-width-bold);
		border: var(--_tag-border-width) solid var(--color-border-light);
		border-radius: var(--border-radius-normal);
		background-color: var(--color-white);
		padding: var(--_tag-pading-row) var(--_tag-pading-col);
		text-decoration: none;

		&:hover {
			box-shadow: 0 0 3px var(--color-border-light);
		}
	}
}

/* ソーシャルボタン */
.p-entry-footer-action {
}

/* 関連記事 */
.p-entry-footer-relation {
	.p-entry__footer > & {
		margin-block-start: calc(var(--stack-margin-base) * 3);
	}
}
