/* ===== ボタン ===== */
.c-push-button {
	all: initial;
	margin: 10px 25px;
	padding: 0.6em 1em;
	border: 1px solid #777;
	border-radius: 0.25em;
	color: #333;
	background-color: #ddd;
	font-size: calc(1rem * var(--font-ratio-3));
	line-height: 1;
	cursor: revert;

	&:disabled {
		color: #7d7d7d;
		cursor: not-allowed;
	}

	&:enabled {
		&:hover,
		&:focus {
			box-shadow: 0 0 0.1em #777;
			color: #000;
			background-color: #ccc;
		}
	}

	/* ===== 登録ボタン ===== */
	&.-regist {
		padding: 0.6em 1.5em;
		border-color: #06f;
		color: #fff;
		background-color: #0098ff;
		font-size: calc(1rem * var(--font-ratio-10));

		& .c-push-button__icon {
			& path {
				fill: #fff;
			}
		}

		&:enabled {
			text-shadow: 1px 1px #333;

			&:hover,
			&:focus {
				box-shadow: 0 0 0.1em #06f;
				color: #fff;
				background-color: #0087ff;
			}
		}

		&:disabled {
			color: #ddd;

			& .c-push-button__icon {
				& path {
					fill: #ddd;
				}
			}
		}
	}
}

.c-push-button__icon {
	margin-right: 0.4em;
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: -0.1em;
}
