/* ==============================
 *   フォーム
 * ============================== */

/* ===== 一行入力欄（type="text", type="search", type="date", ...） ===== */
.c-input {
	--_border-color: var(--color-border-dark);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);

	box-sizing: border-box;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: var(--form-control-padding-block);
	inline-size: var(--inline-size, auto);
	max-inline-size: 100%;
	color: var(--_color);

	/* 全幅 */
	&.-full {
		inline-size: 100%;
	}

	&:enabled:read-write {
		&:hover {
			--_border-color: var(--outline-color);
		}

		&.-invalid {
			--_border-color: var(--invalid-border-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}

	&:read-only {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/* ===== ファイル選択（type） ===== */
.c-input-file {
	--_border-color: transparent;
	--_color: var(--color-black);
	--_bg-color: transparent;

	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: var(--form-control-padding-block) 0;
	color: var(--_color);

	&:enabled {
		&:hover {
			--_border-color: var(--outline-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/* ===== プルダウン（select） ===== */
.c-select {
	--_border-color: var(--color-border-dark);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);

	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: calc(var(--form-control-padding-block) * 1.25) var(--form-control-padding-block);
	color: var(--_color);

	&:enabled {
		&:hover {
			--_border-color: var(--outline-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/* ===== 複数行入力（textarea） ===== */
.c-textarea {
	--_border-color: var(--color-border-dark);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);

	box-sizing: border-box;
	outline-width: var(--outline-width-bold);
	outline-offset: -1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: var(--form-control-padding-block);
	inline-size: 100%;
	min-block-size: var(--block-size, auto);
	color: var(--_color);

	&:enabled:read-write {
		&:hover {
			--_border-color: var(--outline-color);
		}

		&.-invalid {
			--_border-color: var(--invalid-border-color);
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}

	&:read-only {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}
}

/* ===== 送信ボタン ===== */
.c-submit {
	--_padding-block: var(--form-control-padding-block);
	--_padding-inline: 1em;
	--_border-color: var(--_bg-color);
	--_color: var(--color-white);
	--_bg-color: hsl(204deg 100% 42%);
	--_bg-color-hover: hsl(204deg 100% 48%); /* 太字の 15pt なのでコントラスト比の基準は 3:1 以上 */
	--_font-size: calc(100% * var(--font-ratio-2));
	--_ripple-color: var(--color-white);
	--_ripple-opacity: 0.25;
	--_ripple-transition-duration: 0.5s;

	display: inline flow-root;
	vertical-align: middle;
	contain: layout; /* ripple effect */
	outline-width: var(--outline-width-bold);
	outline-offset: 1px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-normal);
	background: var(--_bg-color);
	padding: var(--_padding-block) var(--_padding-inline);
	overflow: hidden; /* ripple effect */
	color: var(--_color);
	font-weight: var(--font-weight-bold);
	font-size: var(--_font-size);
	line-height: var(--line-height-nowrap);
	font-family: var(--font-yu-gothic); /* Chrome で下側の空きが出てしまう対策 */
	white-space: nowrap;

	&:enabled {
		&:hover {
			--_bg-color: var(--_bg-color-hover);
		}

		/* ripple effect */
		&::before {
			position: absolute;
			transform: scale(4);
			opacity: 0;
			transition: var(--_ripple-transition-duration);
			inset: 0;
			background-image: radial-gradient(circle, var(--_ripple-color) 25%, transparent 0);
			inline-size: 100%;
			block-size: 100%;
			content: "";
		}

		/* ripple effect */
		&:active::before {
			transform: scale(0);
			opacity: var(--_ripple-opacity);
			transition: initial;
		}
	}

	&:disabled {
		--_color: var(--color-gray);
		--_bg-color: var(--color-bg-verydark);
	}

	/* コンパクトなボタン */
	&.-compact {
		--_padding-block: 0.375em;
		--_padding-inline: 0.375em;
		--_font-size: 100%;
	}

	/* キャンセルボタン */
	&.-cancel {
		--_color: var(--color-darkgray);
		--_bg-color: var(--color-white);
		--_bg-color-hover: var(--color-bg-superlight);
		--_border-color: var(--_color);
		--_font-size: 100%;
		--_ripple-color: var(--color-black);
	}
}

/* ===== ラベル ===== */
.c-label {
	display: inline flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;

	/* 一行入力欄 */
	&.-input {
	}

	/* チェックボックス、ラジオボタン */
	&.-check {
		--_border-color: transparent;
		--_bg-color: transparent;

		margin-block: calc(var(--form-control-padding-block) / 2);
		border: 1px solid var(--_border-color);
		border-radius: var(--border-radius-normal);
		background: var(--_bg-color);
		padding: calc(var(--form-control-padding-block) / 2) 0.25em;

		&:hover {
			--_border-color: var(--color-superlightblue);
			--_bg-color: var(--color-superlightblue);
		}

		&:focus-within {
			--_border-color: var(--color-superlightblue);
			--_bg-color: var(--color-superlightblue);

			outline: var(--outline-width-bold) solid var(--outline-color);
		}

		& input {
			outline: none;
			inline-size: 1em;
			block-size: 1em;
		}

		&:has(input.-invalid) {
			--_border-color: var(--invalid-border-color);
			--_bg-color: var(--color-verylightred);

			&:hover {
				--_border-color: var(--invalid-border-color);
				--_bg-color: var(--color-verylightred);
			}
		}
	}
}

.c-label__text {
}

/* ===== ラベルアイコン ===== */
.c-label-icon {
	--color: var(--color-white);
	--bg-color: var(--color-gray);

	display: inline flow-root;
	border: 1px solid var(--bg-color);
	border-radius: var(--border-radius-large);
	background: var(--bg-color);
	padding: 0.375em 0.5em;
	color: var(--color);
	font-size: calc(100% / var(--font-ratio-3));
	line-height: var(--line-height-nowrap);
	white-space: nowrap;

	&.-optional {
		--color: var(--color-white);
		--bg-color: var(--color-green);
	}

	&.-required {
		--color: var(--color-white);
		--bg-color: var(--color-red);
	}
}

/* ===== 入力欄ごとの注釈 ===== */
.c-fc-note {
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-1));
}

/* ===== 入力欄ごとのバリデートエラー文言 ===== */
.c-fc-invalid {
	color: var(--color-red);
	font-size: calc(100% / var(--font-ratio-1));

	&::before {
		margin-inline-end: 0.25em;
		content: "⚠";
	}
}

/* ===== フォームコントロールを並べる ===== */
.c-form-controls {
	--_gap-row: 1em;
	--_gap-col: 1em;

	display: block flex;
	flex-flow: wrap;
	align-items: center;
	gap: var(--_gap-row) var(--_gap-col);

	/* センタリング */
	&.-center {
		justify-content: center;
	}

	/* チェックボックス、ラジオボタン */
	&.-checkbox,
	&.-radio {
		--_gap-row: 0em;
	}

	/* 送信ボタン */
	&.-submit {
		--_gap-col: 3em;
	}
}
