/* ==============================
 *   グルーピングコンテンツ
 * ============================== */

/* ===== 記事リンク ===== */
.c-entry-link {
	--_gap: 15px;
	--_title-font-expand-ratio: 1;
	--_bullet-inline-size: 0.45em;
	--_bullet-block-size: 0.75em;
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	display: block flow-root; /* for Safari */
	contain: layout;
	container-type: inline-size;
	line-height: var(--line-height-narrow);
	font-size: calc(100% * var(--_title-font-expand-ratio));

	.p-title-list & {
		--_gap: 25px;
		--_title-font-expand-ratio: var(--font-ratio-3);
	}

	& > :any-link {
		outline: none;
	}
}

.c-entry-link__thumb {
	--_margin-inline-end: calc(var(--_gap) + var(--_bullet-inline-size) + var(--_bullet-gap));
	--_margin-inline-start: 0px;
	--_margin-block-end: 0px;
	--_float: left;
	--_image-border-width: 1px;
	--_image-aspect-ratio: 1.5;
	--_image-inline-size: 180px;
	--_image-min-inline-size-px: 120px;
	--_image-min-inline-size-vw: 30vw;

	display: block flex;
	float: var(--_float);
	justify-content: center;
	margin-block-end: var(--_margin-block-end);
	margin-inline: var(--_margin-inline-start) var(--_margin-inline-end);
	block-size: calc(var(--_image-inline-size) / var(--_image-aspect-ratio) + var(--_image-border-width) * 2);
	inline-size: calc(var(--_image-inline-size) + var(--_image-border-width) * 2);
	pointer-events: none;
}

@container (inline-size <= 24em) {
	.c-entry-link {
		margin-inline-start: calc(var(--_bullet-inline-size) + var(--_bullet-gap));
	}

	.c-entry-link__thumb {
		--_margin-block-end: clamp(0px, var(--_image-min-inline-size-px) - var(--_image-min-inline-size-vw), var(--_gap));
		--_margin-inline-end: 0px;
		--_margin-inline-start: var(--_gap);
		--_float: right;
		--_image-inline-size: min(var(--_image-min-inline-size-px), var(--_image-min-inline-size-vw));
	}
}

.c-entry-link__image {
	display: block flow;
	border: var(--_image-border-width) solid;
	background: var(--color-white);
	max-block-size: calc(var(--_image-inline-size) / var(--_image-aspect-ratio));
	max-inline-size: var(--_image-inline-size);
	color: var(--color-black);
	pointer-events: auto;

	:focus & {
		outline: var(--outline-width-bold) solid var(--outline-color);
		outline-offset: -1px;
	}

	:any-link:hover & {
		box-shadow: 0 0 5px var(--color-border-dark);
	}
}

.c-entry-link__title {
	margin-inline-start: calc(0px - var(--_bullet-inline-size) - var(--_bullet-gap));

	:focus & {
		outline: var(--outline-width) solid var(--outline-color);
		outline-offset: var(--outline-offset-linkonly);
	}

	:any-link:hover & {
		--_bullet-color: var(--link-color-hover);
	}

	&::before {
		display: inline flow-root;
		clip-path: var(--shape-link-triangle);
		margin-inline-end: var(--_bullet-gap);
		border-block-start: var(--_bullet-block-size) solid var(--_bullet-color);
		inline-size: var(--_bullet-inline-size);
		content: "";
	}
}

.c-entry-link__date {
	margin-block-start: 0.5em;
	overflow: hidden;
	font-size: calc(100% / var(--_title-font-expand-ratio));
}

/* ===== キャプション ===== */
.c-caption {
	inline-size: fit-content;
	line-height: var(--line-height-narrow);
	color: var(--color-gray);
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: var(--font-weight-bold);

	.p-embed + & {
		max-inline-size: calc(var(--entry-image-width) + var(--entry-embed-border-width) * 2);
	}

	:is(figure)/* is() は PostCSS のビルドの都合 */ > &:first-child {
		margin-block-end: 0.5em;
	}

	:is(figure)/* is() は PostCSS のビルドの都合 */ > &:last-child {
		margin-block-start: 0.5em;
	}

	/* メタデータ */
	&.-meta {
		margin-inline-start: auto;
		padding-inline-start: 10%;
	}
}
