/* ==============================
 *   サイドバー
 * ============================== */

/* ===== リンクリスト ===== */
.c-sidebar-link {
	--_padding-block: 0.5em;
	--_padding-inline: 0.5em;
	--_min-block-size: auto;
	--_bg-color: var(--color-verylightblue);

	& a {
		display: block;
		contain: content;
		outline-width: var(--outline-width-bold);
		outline-offset: -1px;
		background: var(--_bg-color);
		padding: var(--_padding-block) var(--_padding-inline);
		min-block-size: var(--_min-block-size);
		font-size: calc(100% / var(--font-ratio-1));

		&:any-link {
			--_bg-color: var(--color-white);
			--_icon-color: var(--color-lightgray); /* アイコンの色 */
			--_icon-inline-size: 0.67em; /* アイコンの幅 */
			--_icon-block-size: 1em; /* アイコンの高さ */
			--_icon-gap: 0.75em; /* テキストとアイコンの間隔 */

			padding-inline-end: calc(var(--_icon-gap) + var(--_icon-inline-size) + var(--_padding-inline));
			text-decoration: none;

			&::after {
				position: absolute;
				clip-path: var(--shape-link-arrow);
				inset-block-start: calc(50% - var(--_icon-block-size) / 2);
				inset-inline-end: var(--_padding-inline);
				border-block-start: var(--_icon-block-size) solid var(--_icon-color);
				inline-size: var(--_icon-inline-size);
				content: "";
			}

			&:hover {
				--_bg-color: var(--color-lightyellow);
				--_icon-color: var(--color-gray);
			}
		}
	}

	& > li {
		& + li {
			border-block-start: 1px dotted var(--color-border-dark);
		}

		/* 奇数行 */
		&:nth-child(2n + 1) {
			& a {
				&:any-link {
					--_bg-color: var(--color-bg-superlight);

					&:hover {
						--_bg-color: var(--color-lightyellow);
					}
				}
			}
		}
	}

	/* 記事 */
	&.-entry {
		--_min-block-size: 2em;
	}

	/* カテゴリー */
	&.-category {
		--_padding-block: 0.25em;
	}
}

.c-sidebar-link__icon {
	margin-inline-start: 0.5em;
}
