/* ==============================
 *   記事
 * ============================== */
.entry {
	--_font-size: 1rem;
	--_line-height: var(--line-height-wide);
	--_stack-margin-adjust: 0px; /* 上下マージン調整値 */
	--_stack-margin-adjust-line: calc(1em * (var(--_line-height) - 1) / 2); /* 枠線があるか、埋め込みのコンポーネントの場合の上下マージン調整値 */

	font-size: var(--_font-size);
	line-height: var(--_line-height);

	& > [class^="entry-"] {
		--_stack-margin-row: calc(1em * var(--_line-height) + var(--_stack-margin-adjust));

		&:not(:first-child) {
			margin-top: var(--_stack-margin-row);
		}

		&:not(:last-child) {
			margin-bottom: var(--_stack-margin-row);
		}
	}

	/* ===== セクション（<h2>） ===== */
	& > .entry-section1 {
		--_stack-margin-row: calc(1em * var(--_line-height) * 3);
	}

	& > .entry-toc + .entry-section1 {
		--_stack-margin-row: calc(1em * var(--_line-height) * 2);
	}

	/* ===== セクション（<h3>） ===== */
	& > .entry-section2 {
		--_stack-margin-row: calc(1em * var(--_line-height) * 2);
	}

	/* ===== セクション終了 ===== */
	& > .entry-section-break {
		--_stack-margin-row: calc(1em * var(--_line-height) * 3);
	}

	/* ===== 目次 ===== */
	& > .entry-toc {
		--_stack-margin-row: calc(1em * var(--_line-height) * 2);
	}

	/* ===== 脚注 ===== */
	& > .entry-footnote {
		--_stack-margin-row: calc(1em * var(--_line-height) * 5);
	}
}

/* ===== セクション終了 ===== */
.entry-section-break {
	display: flex;
	justify-content: center;

	&::before {
		content: "";
		display: inline-block;
		width: 15%;
		height: 0;
		border: 1px solid var(--color-lightgray);
	}
}

/* ===== 目次 ===== */
.entry-toc {
	padding: 1em;
	border: 1px solid var(--color-border-dark);
	border-radius: var(--border-radius-normal);
	background: var(--color-bg-verylight);
	line-height: var(--line-height-narrow);

	& > li {
		--_bullet-width: 0.75em; /* アイコンの幅 */
		--_bullet-height: calc(var(--_bullet-width) * 0.75); /* アイコンの高さ */
		--_bullet-color: var(--color-gray); /* アイコンの色 */
		--_bullet-gap: 0.5em; /* アイコンと後続テキストの間隔 */

		margin-left: calc(var(--_bullet-width) + var(--_bullet-gap));

		&:not(:first-child) {
			margin-top: 0.5em;
		}

		& > :any-link {
			margin-left: calc(0px - var(--_bullet-width) - var(--_bullet-gap));
			outline-offset: 0.125em;

			&::before {
				margin-right: var(--_bullet-gap);
				content: "";
				display: inline-block;
				clip-path: var(--shape-pagelink-triangle);
				width: var(--_bullet-width);
				height: var(--_bullet-height);
				background: var(--_bullet-color);
				vertical-align: middle;
			}

			&:hover {
				--_bullet-color: var(--link-color-hover);
			}
		}
	}
}

/* ===== 見出し ===== */
.entry-hdg1 {
	--_line-height: var(--line-height-narrow);
	--_stack-margin-adjust: var(--_stack-margin-adjust-line);

	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--color-border-dark);
	font-size: calc(100% * var(--font-ratio-5));
	font-weight: bold;
	line-height: var(--_line-height);
}

.entry-hdg2 {
	--_line-height: var(--line-height-narrow);

	font-size: calc(100% * var(--font-ratio-3));
	font-weight: bold;
	line-height: var(--_line-height);

	&::before {
		--_width: 0.25em;

		margin-right: 0.5em;
		border-radius: var(--_width);
		content: "";
		display: inline-block;
		width: var(--_width);
		height: calc(1em * var(--_line-height));
		background: var(--color-border-dark);
		vertical-align: text-top;
	}
}

/* ===== テキスト ===== */
.entry-text {
}

/* ===== 通常リスト ===== */
.entry-list {
	& > li {
		margin-left: 1em;
		list-style: disc;

		&:not(:first-child) {
			margin-top: 0.5em;
		}
	}
}

/* ===== リンクリスト ===== */
.entry-list-link {
	line-height: var(--line-height-normal);

	& > li {
		&:not(:first-child) {
			margin-top: 0.5em;
		}
	}

	& :any-link {
		font-size: calc(100% * var(--font-ratio-1));
	}
}

/* ===== 順序リスト ===== */
.entry-list-order {
	& > li {
		margin-left: 1em;
		list-style: decimal;

		&:not(:first-child) {
			margin-top: 0.5em;
		}
	}
}

/* ===== 記述リスト ===== */
.entry-list-description {
	& > dt {
		font-weight: bold;
	}

	& > dd {
		margin-left: 1em;

		& + dt {
			margin-top: 0.5em;
		}
	}
}

/* ===== ブロック引用 ===== */
.entry-quote {
}

.entry-quote__quote {
	padding: 0.5em 1em;
	border-color: var(--color-border-green);
	border-style: solid;
	border-width: 1px 5px;
	border-radius: var(--border-radius-large);
	background: var(--color-white);

	& > p {
		margin: 0.5em 0;
	}
}

.entry-quote__omit {
	color: var(--color-gray);
	font-weight: bold;
}

.entry-quote__caption {
	margin: 0.125em 0 0 auto;
	color: #575757; /* コントラスト比 7:1 */
	font-size: calc(100% / var(--font-ratio-1));
	font-weight: bold;
	text-align: justify;

	@supports (width: fit-content) {
		/* for Firefox, Chrome, Safari */
		padding-left: 10%;
		width: fit-content;
	}

	@supports (width: fit-content(0)) {
		/* No support browser yet */
		width: fit-content(0);
	}
}

/* ===== 埋め込みコンテンツのラッパー要素 ===== */
.entry-embedded-grid {
	--_stack-margin-adjust: var(--_stack-margin-adjust-line);
	--_embedded-grid-gap: 30px;

	display: flex;
	flex-flow: wrap;
	gap: var(--_embedded-grid-gap);
}

/* ===== 埋め込みコンテンツ（画像、動画） ===== */
.entry-embedded {
	--_width: calc((962px - var(--_embedded-grid-gap)) / 2);
	--_border-width: 1px;
	--_border-color: var(--color-black);
	--_expand-icon-padding: 4px;

	max-width: min(var(--_width), 100%);
	position: relative;

	& > :any-link {
		display: inline-block;
		outline-offset: 0;

		&::before {
			padding: var(--_expand-icon-padding);
			box-sizing: border-box;
			position: absolute;
			top: 1px;
			left: 1px;
			content: "";
			height: 24px;
			width: 24px;
			display: block;
			background: rgb(0 0 0 / 70%) url("/image/entry/media-expansion.svg") center/contain no-repeat content-box border-box;
		}

		&:focus {
			--_border-color: var(--outline-color);
		}

		&:hover {
			--_expand-icon-padding: 3px;

			outline: 1px solid var(--_border-color);
		}
	}

	/* ツイート */
	& .twitter-tweet-rendered {
		/* stylelint-disable declaration-no-important */
		margin: 0 !important;
		/* stylelint-enable declaration-no-important */
	}
}

.entry-embedded__image,
.entry-embedded__video,
.entry-embedded__frame {
	border: var(--_border-width) solid var(--_border-color);
	box-sizing: border-box;
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.entry-embedded__image {
	min-width: calc(360px / 1.5 + var(--_border-width) * 2);
}

.entry-embedded__video {
	outline-offset: 0;

	&:focus {
		--_border-color: var(--outline-color);
	}
}

.entry-embedded__frame {
	aspect-ratio: var(--aspect-ratio);
}

.entry-embedded__tweet {
	padding: 20px;
	border: 1px solid var(--color-border-light);
	border-radius: var(--border-radius-normal);
	background: var(--color-white);
}

.entry-embedded__caption {
	margin-top: 0.5em;
	color: var(--color-gray);
}

/* ===== Amazon 商品 ===== */
.entry-amazon {
	--_stack-margin-adjust: var(--_stack-margin-adjust-line);

	padding: 15px;
	border: 1px solid #cb4;
	border-radius: var(--border-radius-large);
	color: var(--color-black);
	background: linear-gradient(#fed, var(--color-white));
}

.entry-amazon__hdg {
	margin: -16px 0 0 -16px;
}

.entry-amazon__link {
	margin: 10px 0 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(22em, 100%), 1fr));
	gap: 12px;
	font-size: calc(100% / var(--font-ratio-1));
}

/* ===== Amazon 商品リンク ===== */
.entry-amazon-link {
	--_bg-color: var(--color-amazon-bg);
	--_border-color: var(--_bg-color);

	padding: 14px;
	border: 1px solid var(--_border-color);
	border-radius: var(--border-radius-large);
	display: grid;
	background: var(--_bg-color);
	line-height: var(--line-height-narrow);
	text-decoration-line: none;
	outline-offset: 0;
	transition: color var(--link-hover-transition-delay), background-color var(--link-hover-transition-delay);

	&:focus {
		--_border-color: var(--outline-color);
	}

	&:hover {
		--_bg-color: var(--color-amazon-bg-hover);
	}

	&:any-link {
		color: var(--color-darkgray);
	}

	@nest .entry-amazon & {
		grid-template-areas: "image gap text";
		grid-template-columns: min(40%, 160px) 15px 1fr;
	}
}

/* 画像エリア */
.entry-amazon-link__thumb {
	grid-column: image;
}

/* 商品画像 */
.entry-amazon-link__image {
	margin: auto;
	display: block;
	height: auto;
	max-width: 100%;
	transition: box-shadow var(--link-hover-transition-delay);

	@nest :any-link:hover & {
		box-shadow: 0 0 4px 3px var(--color-amazon-box-shadow-hover);
	}
}

/* テキストエリア */
.entry-amazon-link__text {
	--_bullet-height: 0.75em;
	--_bullet-width: calc(var(--_bullet-height) * 0.6);
	--_bullet-color: var(--link-color-bullet);
	--_bullet-gap: 0.5em;

	margin-left: calc(var(--_bullet-width) + var(--_bullet-gap));
	grid-column: text;
}

/* 商品タイトル */
.entry-amazon-link__title {
	margin-left: calc(0px - var(--_bullet-width) - var(--_bullet-gap));
	display: inline;
	font-weight: bold;
	text-decoration-line: underline;

	&::before {
		margin-right: var(--_bullet-gap);
		content: "";
		display: inline-block;
		clip-path: var(--shape-link-triangle);
		width: var(--_bullet-width);
		height: var(--_bullet-height);
		background: var(--_bullet-color);
	}

	@nest :any-link:hover & {
		--_bullet-color: var(--link-color-hover);

		color: var(--link-color-hover);
	}
}

/* 発売日 */
.entry-amazon-link__date {
	margin-top: 0.5em;
}

/* ===== ブロックコード ===== */
.entry-code {
	--_stack-margin-adjust: var(--_stack-margin-adjust-line);

	border: 1px solid var(--color-border-light);
	display: flow-root;
	position: relative;
	color: var(--color-black);
	background: var(--color-white);

	/* highlight.js */
	& .hljs-comment,
	& .hljs-quote {
		color: #767676; /* original: #998 */
		font-style: italic;
	}

	& .hljs-keyword,
	& .hljs-selector-tag,
	& .hljs-subst {
		color: #333;
		font-weight: bold;
	}

	& .hljs-number,
	& .hljs-literal,
	& .hljs-variable,
	& .hljs-template-variable,
	& .hljs-tag .hljs-attr {
		color: #008080;
	}

	& .hljs-string,
	& .hljs-doctag {
		color: #d14;
	}

	& .hljs-title,
	& .hljs-section,
	& .hljs-selector-id {
		color: #900;
		font-weight: bold;
	}

	& .hljs-subst {
		font-weight: normal;
	}

	& .hljs-type,
	& .hljs-class .hljs-title {
		color: #458;
		font-weight: bold;
	}

	& .hljs-tag,
	& .hljs-name,
	& .hljs-attribute {
		color: #000080;
		font-weight: normal;
	}

	& .hljs-regexp,
	& .hljs-link {
		color: #008a26; /* original: #009926 */
	}

	& .hljs-symbol,
	& .hljs-bullet {
		color: #990073;
	}

	& .hljs-built_in,
	& .hljs-builtin-name {
		color: #007eb3; /* original: #0086b3 */
	}

	& .hljs-meta {
		color: #767676; /* original: #999 */
		font-weight: bold;
	}

	& .hljs-deletion {
		background: #fdd;
	}

	& .hljs-addition {
		background: #dfd;
	}

	& .hljs-emphasis {
		font-style: italic;
	}

	& .hljs-strong {
		font-weight: bold;
	}
}

.entry-code__clipboard {
	margin: 10px 10px 20px 20px;
	float: right;
}

.entry-code__clipboard-button {
}

.entry-code__code {
	padding: 1em;
	line-height: var(--line-height-narrow);
	white-space: pre-wrap;

	& code {
		font-size: calc(100% / var(--font-ratio-1));
		font-family: monospace;
		tab-size: 2;
	}
}

/* ===== 注釈 ===== */
.entry-note {
	--_margin-col: calc(1em * var(--font-ratio-1));

	margin-left: var(--_margin-col);
	margin-right: var(--_margin-col);
	display: flex;
	gap: 0.25em;
	color: var(--color-note);
	font-size: calc(100% / var(--font-ratio-1));
	line-height: var(--line-height-normal);
}

.entry-note__mark {
}

.entry-note__text {
}

/* ===== 追記 ===== */
.entry-ins {
	--_margin-col: calc(1em * var(--font-ratio-1));

	margin-left: var(--_margin-col);
	margin-right: var(--_margin-col);
	display: flex;
	flex-wrap: wrap;
	color: var(--color-note);
	font-size: calc(100% / var(--font-ratio-1));
	line-height: var(--line-height-normal);
}

.entry-ins__date {
	font-weight: bold;

	&::after {
		margin: 0 0.25em;
		content: ":";
	}
}

.entry-ins__text {
	text-decoration: none;
}

/* ===== ボックス ===== */
.entry-box {
	padding: 1em;
	border: 1px solid var(--color-border-light);
	color: var(--color-black);
	background: var(--color-white);
}

/* ===== 表 ===== */
.entry-table {
	--_stack-margin-adjust: var(--_stack-margin-adjust-line);
	--_color: var(--color-black);
	--_bg-color: var(--color-white);
	--_font-weight: normal;
	--_text-align: left;

	font-size: clamp(calc(100% / var(--font-ratio-1)), 2vw, 100%);
	font-weight: var(--_font-weight);
	line-height: var(--line-height-narrow);

	& th,
	& td {
		padding: 0.55em min(1vw, 10px) 0.45em;
		border: 1px solid;
		color: var(--_color);
		background: var(--_bg-color);
		text-align: var(--_text-align);
	}

	& th {
		--_bg-color: var(--color-bg-verylight);
		--_font-weight: bold;
	}

	& > thead {
		& th {
			--_bg-color: var(--color-bg-light);
			--_text-align: center;
		}

		& + tbody {
			& > tr:first-child {
				& > :is(th, td) {
					border-top-width: 2px;
				}
			}
		}
	}
}

/* ===== 脚注 ===== */
.entry-footnote {
	padding: 1em;
	border: 1px solid var(--color-bg-dark);
	border-radius: var(--border-radius-large);
	box-sizing: border-box;
	display: table;
	width: 100%;
	background: var(--color-bg-dark);
	font-size: calc(100% / var(--font-ratio-1));
	line-height: var(--line-height-normal);

	& > li {
		display: table-row;

		&:not(:first-child) {
			& > :is(.entry-footnote__no, .entry-footnote__text) {
				border-top: 0.5em solid transparent;
			}
		}
	}
}

.entry-footnote__no,
.entry-footnote__text {
	display: table-cell;
	vertical-align: top;
}

.entry-footnote__no {
	padding-right: 0.25em;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;

	& > a {
		padding: 0.25em;
		display: inline-block;
		text-decoration-skip-ink: none;
	}
}

.entry-footnote__text {
	padding: 0.25em;
	width: 100%;
}
