name: hono (Backend)

on:
  pull_request:
    paths:
      - 'hono/**'
      - 'package.json'
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.node-version'
      - run: npm ci
      - run: npm run build -w '@blog.w0s.jp/remark'
      - run: npm run lint -w '@blog.w0s.jp/hono'
